@model CollaborativeLearning.Entities.Group
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
    CollaborativeLearning.Entities.User user = CollaborativeLearning.WebUI.Controllers.HelperController.GetCurrentUser();

    CollaborativeLearning.Entities.Semester Semester = ViewData["semester"] as CollaborativeLearning.Entities.Semester;

}
@section OwnGroupLink{
    <h4>My Group</h4>
}
@section BreadCrump{
    <li>@Html.ActionLink("Home", "Index", "Home")</li>

    @if (Model != null)
    {
        <li><a href="/Groups?semesterID=@Semester.Id">@Semester.CourseName.@Semester.Section</a></li>
        <li class="active">@Model.GroupName</li>
    }
    else
    {
        @*<li class="active">@Semester.CourseName. @Semester.Section</li>*@

    }

}
@section Header{


    @if (ViewBag.Error == "True")
    {
        <h4 class="alert-danger">
            @ViewBag.Message
        </h4>
    }
    else
    {
        <div class="col-lg-2"><h3><span class="small">Group Name:</span></h3></div>
        <div class="col-lg-5">
            <h3 id="GroupNameLabel">
                <span>@Model.GroupName</span>
                <br />
            </h3>
            <div id="GroupNameEditFormContainner">
                <br />
                @using (Ajax.BeginForm("_ChangeGroupName", "Groups", new { groupId = Model.Id }, new AjaxOptions
                {
                    UpdateTargetId = "GroupNameLabel",
                    HttpMethod = "POST",
                    OnComplete = "GroupNameEditFormComplete",
                    OnSuccess = "GroupNameEditFormComplete",
                    LoadingElementId = "AjaxFormProccessIcon"

                }, new { @class = "form" }))
                {
                @Html.HiddenFor(model => model.Id)
                @Html.TextBoxFor(model => model.GroupName, new { @class = "form-group" })
                <input type="submit" class="btn btn-primary form-group" />
                }
            </div>
        </div>
        <div class="col-lg-5" id="groupMembers">
            <div class="panel panel-default">
                <div class="panel-heading">Group Members</div>
                <div class="panel-body">
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Student No
                                </th>
                                <th>
                                    Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users.Where(st=>st.RoleID==3))
                            {
                            <tr>
                                <td>
                                    @item.StudentNo
                                </td>
                                <td>
                                    @item.FullName
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    }


}

@if (Model != null)         //if student is a member of any group
{
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Oncomming Work</div>
                    <div class="panel-body">
                        Oncomming Work
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Group Mentors
                    </div>
                    <div class="panel-body">
                        Group Mentors
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Feedbacks</div>
                    <div class="panel-body">
                        Feedbacks
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Section
                    </div>
                    <div class="panel-body">
                        Section
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else  // if student is not a member of any group
{  @*start  1st row*@
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Groups</div>
                    <div class="panel-body">
                        @Html.Action("GetGroupListTable", "Groups", new { SemesterID = Semester.Id })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Course Scenarios</div>
                    <div class="panel-body">
                        @Html.Action("GetScenarioListTable", "Groups", new { SemesterID = Semester.Id })
                    </div>
                </div>
            </div>
        </div>
    </div>   @**end 1st row *@
    @*start  2nd row*@
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Course Resources</div>
                    <div class="panel-body">
                        @Html.Action("GetCourseResourceListTable", "Groups", new { SemesterID = Semester.Id })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Course Mentors</div>
                    <div class="panel-body">
                        @Html.Action("GetMentorListTable", "Groups", new { SemesterID = Semester.Id })


                    </div>
                </div>
            </div>
        </div>
    </div>@**end 2nd row *@
}

<div id="AjaxFormProccessIcon">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<style>
    div#AjaxFormProccessIcon {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<script>

    $(document).ready(function () {
        $("#GroupNameEditFormContainner").hide();

        $("#GroupNameLabel").dblclick(function () {
            $("#GroupNameLabel").hide();
            $("#GroupNameEditFormContainner").show();
        })

    });
    function GroupNameEditFormComplete() {

        $("#GroupNameLabel").show();
        $("#GroupNameEditFormContainner").hide();
    }
    function OnSuccess() {
        location.reload();
    }
</script>