@model CollaborativeLearning.Entities.Group
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
    CollaborativeLearning.Entities.Semester Semester = ViewData["semester"] as CollaborativeLearning.Entities.Semester;
}

<h2>Show</h2>

@section GroupShowNav{
    <div id="GroupShowNav" class="list-group" style="">
    <br />
    <div class="main_title"><h4>@Model.GroupName</h4></div>

    <a href="@Url.Action("Index", "Home")#semesters" class="list-group-item">
        Semesters
    </a>
    <a href="@Url.Action("Index", "Home")#scenarios" class="list-group-item">
        Scenarios
    </a>
    <a href="@Url.Action("Index", "Home")#resources" class="list-group-item">
        Resources
    </a>
</div>

    }

   
   
  @section BreadCrump{
    <li>@Html.ActionLink("Home", "Index", "Home")</li>

    @if (Model != null)
    {
        <li><a href="/Groups?semesterID=@Semester.Id">@Semester.CourseName.@Semester.Section</a></li>
        <li class="active">@Model.GroupName</li>
    }
    else
    {
        <li class="active">@Semester.CourseName.@Semester.Section</li>

    }


}

@ViewBag.SemesterID