@model ICollection<CollaborativeLearning.Entities.Scenario>


@{
    if (Model.Count != 0)
    {
    <div class="table-responsive">
        <table class="table-striped table table-hover">
            <thead>
                <tr>
                    <td width="30%">Scenario Name
                    </td>
                    <td width="30%">Description
                    </td>
                    <td width="15%">Group Count
                    </td>
                    <td width="15%">Action
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Ajax.BeginForm("Show"){
                            
                            }*@
                            <a href="@Url.Action("Scenario", "Semester", new { id = item.Id })">@item.Name</a>
                        </td>
                        <td>
                            @item.ShortDescription
                        </td>
                        <td>
                            @item.Groups.Count()
                        </td>
                        <td>
                            @Ajax.ActionLink("Remove", "DeleteScenario", "Scenario", new { scenarioId = item.Id, semesterId = ViewBag.semesterId },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    Confirm = "Are you sure to delete this scenario?",
                                    UpdateTargetId = "scenartioTable",
                                    LoadingElementId = "loadingSemesterScenarios",
                                },new{ @class="btn btn-danger btn-sm"
                                }
                               )
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    else
    {
        <text>This semester does not have scenario yet!</text>
    }
}

 @Html.Action("_PartialSelectScenarios", "Semester", new { id = ViewBag.semesterId })

<div id = "loadingSemesterScenarios">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingSemesterScenarios {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>