@model CollaborativeLearning.Entities.Scenario
@{
    ViewBag.Title = "Scenario";
}
<br />
@if (ViewBag.Message=="true")
{
    if (ViewBag.MessageType == "SuccessAddScenario")
    {
        <text>
                <div class="alert alert-warning alert-dismissable" id="CreateScenarioSuccess">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Well Done!</strong>@ViewBag.Alert
                </div>
        </text>
    }
    
    if (ViewBag.MessageType == "FailureAddScenario")
    {
        <text>
            <div class="alert alert-warning alert-dismissable" id="CreateScenarioFailure">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh Snap!</strong> @ViewBag.Alert
            </div>

        </text>
    }
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="span6">
                    <button type="button" class="btn btn-primary btn-sm" 
                            data-toggle="modal" data-target="#modal_scenarioCreate" id="scenarioAdd">
                        <span class="glyphicon glyphicon-plus"></span> Add Scenario
                    </button>

                    <button type="button" class="btn-sm btn-danger" id="scenarioRemove" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        
            <div class="col-lg-6 rightColumn">
                @Html.Action("_PartialGoToScenario", "Scenario")
            </div>
        </div>

        <div class="row" id="CreateScenarioPartialDiv" style="display:none;" >
                    <div class="col-lg-12 clearfix" style="margin-left:10px;">
                        <div style="padding-bottom:10px">
                            @Html.Action("_PartialCreate", "Scenario")
                        </div>
                    </div>
                </div>

@*        <div class="row">
            <div id="CreateScenarioPartialDiv">
                @Html.Action("_PartialCreate", "Scenario")
            </div>
        </div>*@
        
    </div>
</div>

<br />
<div class="panel panel-default">
    <div class="panel-body">
        <table id="ScenarioTable" class="display clearfix">
            <thead>
                <tr>
                    <th>Scenario Name</th>
                    <th>Short Description</th>
                    <th>Is Active</th>
                    <th>Resource Count</th>
                    <th>Semester Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="clearfix"> 
            </tbody>
        </table>
    </div>
</div>




<script>

    $(document).ready(function () {

        var scenarioTable = $('#ScenarioTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "Scenario/ScenarioAjaxHandler",
            "aoColumns": [
                    
                    {"mData": "Name",
                    "fnRender": function (oObj) {
                        return "<a href='../Scenario/Index/" + oObj.aData.Id + "' class=' btn-default btn-xs'>" +
                                      oObj.aData.Name +
                                    "</a>";
                    }
                    },
                    { "mData": "ShortDescription" },
                    { "mData": "isActive" },
                    { "mData": "ResourcesCount" },
                    { "mData": "SemestersCount" },
                    {
                        "mData": "Action",
                        "fnRender": function (oObj) {
                            return "<a href='#' id='"+ oObj.aData.Id +"' class='scenarioEdit btn btn-default btn-xs' " +
                                    "data-toggle='modal' data-target='#modal_scenarioUpdate'>" +
                                      "<span class='glyphicon glyphicon-pencil'></span> Edit" +
                                    "</a>" +
                                    "<a href='../Scenario/Delete/" + oObj.aData.Id + "' onclick='return confirmScenario_click();' class='btn btn-default btn-xs'>" +
                                      "<span class='glyphicon glyphicon-remove'></span> Delete" +
                                    "</a>";
                        }
                    }
            ],
            "oTableTools": {
                "sRowSelect": "single",

                "fnRowSelected": function ( node ) {
                    alert("Clicked");
                }
            }   
        });
       
    });
</script>


<script>
    $("#scenarioAdd").click(function () {
        $("#CreateScenarioPartialDiv").show(100, function () {
            $("#scenarioAdd").hide(100);
            $("#scenarioRemove").show(100);
        });
    });

    $("#scenarioRemove").click(function () {
        $("#CreateScenarioPartialDiv").hide(100, function () {
            $("#scenarioRemove").hide(100);
            $("#scenarioAdd").show(100);
        });
    });
</script>


<script>
    $(document).ready(function () {
        setTimeout(function() {
            $(".scenarioEdit").click(function () {
                $.ajax({
                    url: "/Scenario/_PartialEdit/" + $(this).attr('id')
                })
                .success(function (result) {
                    $("#editScenarioPartial").html(result);
                });
            });

        }, 2000);
    });
      
</script>

<script type="text/javascript">
    function confirmScenario_click()
{
    return confirm("Are you sure to delete this scenario?");
}

</script>



<div class="modal fade" id="modal_scenarioUpdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Scenario Update</h4>
            </div>
          <div id="editScenarioPartial"class="modal-body">
         
          </div>
      
    </div>
  </div>
</div>

