@model ICollection<CollaborativeLearning.Entities.Scenario>


@{

    if (Model.Count != 0)
    {
        <table class="table-striped">
            <thead>
                <tr>
                    <td width="15%">
                        ID
                    </td>
                    <td width="30%">
                        Scenario Name
                    </td>
                    <td width="30%">
                        Description
                    </td>
                    <td width="15%">
                        group count
                    </td>
                    <td width="15%">
                        Action
                    </td>
                </tr>
            </thead>
            <tbody class="table-striped">
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                           <a href="@Url.Action("Scenario","Semester",new {id=item.Id})">@item.Id</a> 
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.ShortDescription
                        </td>
                        <td>
                            @item.Groups.Count()
                        </td>
                        <td>
                           <a>Remove</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <text>This semester does not have scenario yet!</text>
    }
}