@model ICollection<CollaborativeLearning.Entities.Scenario>

<div class="panel panel-default" id="ScenarioAddContainer">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="span6">
                    <button type="button" class="btn btn-primary btn-sm"
                        data-toggle="modal" data-target="#modal_scenarioCreate" id="scenarioAdd">
                        <span class="glyphicon glyphicon-plus"></span>Add a New Scenario
                    </button>

                    <button type="button" class="btn-sm btn-danger" id="scenarioRemove" style="display: none;">
                        <span class="glyphicon glyphicon-remove"></span>Close
                    </button>
                </div>
            </div>
        </div>

        <div class="row" id="CreateScenarioPartialDiv" style="display: none;">
            <div class="col-lg-12 clearfix" style="margin-left: 10px;">
                <div style="padding-bottom: 10px">
                    @Html.Action("_PartialSemesterScenarioCreate", "Scenario", new { id = ViewBag.semesterId })
                </div>
            </div>
        </div>

    </div>
</div>

<br />


<div class="panel panel-default">
    <div class="panel-body">
        @Html.Action("_PartialSelectScenarios", "Semester", new { id = ViewBag.semesterId })
    </div>
</div>
<div class="modal-footer"></div>

@{
    if (Model.Count != 0)
    {
    <div class="table-responsive">
        <table class="table-striped table table-hover">
            <thead>
                <tr>
                    <th width="20%">Scenario Name
                    </th>
                    <th width="50%">Description
                    </th>
                    <th width="15%">Group Count
                    </th>
                    <th width="15%">Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Ajax.BeginForm("Show"){
                            
                            }*@
                            <a href="@Url.Action("Scenario", "Semester", new { scenarioId = item.Id, semesterId = ViewBag.semesterId })">@item.Name</a>
                        </td>
                        <td>
                            @if(item.ShortDescription.Length > 30){
                                   
                                    @item.ShortDescription.Substring(0, 30);<b>...</b>
                                }
                                else
                                {
                                  
                                    @item.ShortDescription
                                }
                        </td>
                        <td>
                            @item.Groups.Count()
                        </td>
                        <td>
                            @Ajax.ActionLink("Remove", "DeleteScenario", "Scenario", new { scenarioId = item.Id, semesterId = ViewBag.semesterId },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    Confirm = "Are you sure to delete this scenario?",
                                    UpdateTargetId = "scenartioTable",
                                    LoadingElementId = "loadingSemesterScenarios",
                                },new{ @class="btn btn-danger btn-sm"
                                }
                               )
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    else
    {
        <text>This semester does not have scenario yet!</text>
    }
}



<div id = "loadingSemesterScenarios">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingSemesterScenarios {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>

<script>
    $(document).ready(function () {

        $("#ScenarioEditPartialContainer").hide();
    });

    $("#scenarioAdd").click(function () {
        $("#CreateScenarioPartialDiv").show(100, function () {
            $("#scenarioAdd").hide(100);
            $("#scenarioRemove").show(100);
        });
    });

    $("#scenarioRemove").click(function () {
        $("#CreateScenarioPartialDiv").hide(100, function () {
            $("#scenarioRemove").hide(100);
            $("#scenarioAdd").show(100);
        });
    });
</script>
