@model IEnumerable<CollaborativeLearning.Entities.Scenario>
@{
    ViewBag.Title = "Scenario";
}
<br />
@if (ViewBag.Message=="true")
{
    if (ViewBag.MessageType == "SuccessAddScenario")
    {
        <text>
                <div class="alert alert-warning alert-dismissable" id="CreateScenarioSuccess">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Well Done!</strong>@ViewBag.Alert
                </div>
        </text>
    }
    
    if (ViewBag.MessageType == "FailureAddScenario")
    {
        <text>
            <div class="alert alert-warning alert-dismissable" id="CreateScenarioFailure">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh Snap!</strong> @ViewBag.Alert
            </div>

        </text>
    }
}
<div class="panel panel-default" id="ScenarioAddContainer">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="span6">
                    <button type="button" class="btn btn-primary btn-sm" 
                            data-toggle="modal" data-target="#modal_scenarioCreate" id="scenarioAdd">
                        <span class="glyphicon glyphicon-plus"></span> Add Scenario
                    </button>

                    <button type="button" class="btn-sm btn-danger" id="scenarioRemove" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        
            <div class="col-lg-6 rightColumn">
                @Html.Action("_PartialGoToScenario", "Scenario")
            </div>
        </div>

        <div class="row" id="CreateScenarioPartialDiv" style="display:none;" >
                    <div class="col-lg-12 clearfix" style="margin-left:10px;">
                        <div style="padding-bottom:10px">
                            @Html.Action("_PartialCreate", "Scenario")
                        </div>
                    </div>
        </div>
        
    </div>
</div>

<div class="panel panel-default" id="ScenarioEditPartialContainer">
   <div class="row" id="EditScenarioPartialDiv">
                    <div class="col-lg-12 clearfix" style="margin-left:10px;">
                        <div style="padding-bottom:10px">
                            @Html.Action("Edit", "Scenario", new { id=0 })
                        </div>
                    </div>
    </div>
</div>



<br />
<div class="panel panel-warning clearfix" id="ResourceAddContainner">
    <div class="panel-heading">Scenario List</div>
    <div class="panel-body">
        <table class="table table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <td align="center" class="col-sm-1">
                        <b>Scenario Name</b>
                    </td>
                    <td align="center">
                        <b>Short Description</b>
                    </td>
                    <td align="center">
                        <b>Scenario Status</b>
                    </td>
                    <td align="center">
                        <b>Scenario Resources Count</b>
                    </td>
                    <td align="center">
                        <b>Scenario Semesters Count</b>
                    </td>
                    <td align="center" class="col-sm-2">
                        <b>Actions</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink( item.Name, "Index", new { id=item.Id })
@*            @Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Resources.Count)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Semesters.Count)
        </td>
        <td align="center">
            @Ajax.ActionLink("Edit", "_PartialEdit", "Scenario", 
            new { id = item.Id }, 
            new AjaxOptions {
                InsertionMode=InsertionMode.Replace,
                UpdateTargetId = "ScenarioEditPartialContainer",
                LoadingElementId = "loadingScenarioOps"
                
            }, 
            new {@class="btn btn-primary btn-xs glyphicon glyphicon-plus openScenarioEditPartial"})
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id })*@ | |
            @Ajax.ActionLink("Delete Scenario", "Delete", "Scenario", new { id = item.Id },
                                new AjaxOptions
                                {
                                    Confirm = "Are you sure to delete this scenario?",
                                    UpdateTargetId = "scenarios",
                                    LoadingElementId = "loadingScenarioOps"
                                })
        </td>
    </tr>
}
            </tbody>
        </table>
    </div>
</div>

<div id="loadingScenarioOps">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<style>
    div#loadingScenarioOps {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>

<script>
    $(document).ready(function () {

        $("#ScenarioEditPartialContainer").hide();
    });

    $(".openScenarioEditPartial").click(function () {
        $("#ScenarioEditPartialContainer").show(100);
        $("#ScenarioAddContainer").hide(100);        
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });


    $("#scenarioAdd").click(function () {
        $("#CreateScenarioPartialDiv").show(100, function () {
            $("#scenarioAdd").hide(100);
            $("#scenarioRemove").show(100);
        });
    });

    $("#scenarioRemove").click(function () {
        $("#CreateScenarioPartialDiv").hide(100, function () {
            $("#scenarioRemove").hide(100);
            $("#scenarioAdd").show(100);
        });
    });
</script>



<script type="text/javascript">
    function confirmScenario_click() {
        return confirm("Are you sure to delete this scenario?");
    }

</script>



<div class="modal fade" id="modal_scenarioUpdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Scenario Update</h4>
            </div>
          <div id="editScenarioPartial"class="modal-body">
         
          </div>
      
    </div>
  </div>
</div>



