@{
    ViewBag.Title = "Detail";
}

<ul class="nav nav-tabs">
  <li class="active"><a href="#task" data-toggle="tab">Student Tasks</a></li>
  <li><a href="#action" data-toggle="tab">Action Plan</a></li>
  <li><a href="#resources" data-toggle="tab">Resources</a></li>
  <li><a href="#works" data-toggle="tab">Submited Works</a></li>
  <li><a href="#feedback" data-toggle="tab">Mento Feedbacks</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="task">
      @Html.Action("_PartialStudentTask", "Task")
  </div>
  <div class="tab-pane clearfix" id="action">
      @Html.Action("_PartialActionPlan", "Scenario")
  </div>
  <div class="tab-pane" id="resources">
      @Html.Action("_PartialResources", "Scenario")

  </div>
  <div class="tab-pane" id="works">
      @Html.Action("_PartialSubmitedWorks", "Scenario")

  </div>
  <div class="tab-pane" id="feedback">
      @Html.Action("_PartialFeedbacks", "Scenario")

  </div>
</div>