@{
    ViewBag.Title = "Detail";
}

<ul class="nav nav-tabs">
  <li class="active"><a href="#task" data-toggle="tab">Student Tasks</a></li>
  <li><a href="#action" data-toggle="tab">Action Plan</a></li>
  <li><a href="#resources" data-toggle="tab">Resources</a></li>
  <li><a href="#works" data-toggle="tab">Submited Works</a></li>
  @*<li><a href="#feedback" data-toggle="tab">Mento Feedbacks</a></li>*@
</ul>

<!-- Tab panes -->
<br />
<div class="tab-content">
  <div class="tab-pane active" id="task">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="span6">
                            <div class="btn-group ">
                                <button type="button" class="btn btn-sm btn-primary" id="taskAdd">
                                    <span class="glyphicon glyphicon-plus"></span> Add Task
                                </button>
                                <button type="button" class="btn-sm btn-danger" id="taskRemove" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Close
                                </button>
                            </div>
                        </div>
                    </div>
                        @*- @Html.ActionLink("See All Tasks","Index","Task")*@
                </div>
                
                <div class="row" id="addPanel" style="display:none;" >
                    <div class="col-lg-12 clearfix" style="margin-left:10px;">
                        <div style="padding-bottom:10px">
                            @Html.Action("_PartialTaskCreate", "Task", new {scenarioId = ViewBag.scenarioId})
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myPartialViewDiv" class="row" style="margin-left:-13px;">
            <div class="col-lg-12">
                <div>
                    @Html.Action("_PartialStudentTask", "Task", new {scenarioId = ViewBag.scenarioId})
                </div>
            </div>
        </div>
  </div>




  <div class="tab-pane clearfix" id="action">
      <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="span6">
                            <div class="btn-group ">
                                <button type="button" class="btn btn-sm btn-primary" id="actionPlanAdd">
                                    <span class="glyphicon glyphicon-plus"></span> Add Action Plan
                                </button>
                                <button type="button" class="btn-sm btn-danger" style="display:none;" id="actionPlanRemove"">
                                    <span class="glyphicon glyphicon-remove"></span> Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div id="addActionPlanPanel" class="row"  style="display:none;" >
                    <div class="col-lg-12 clearfix" style="margin-left:10px;">
                        <div style="padding-bottom:10px">
                            @Html.Action("_PartialActionPlanCreate", "ActionPlan", new {scenarioId = ViewBag.scenarioId})
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        @Html.Action("_PartialActionPlan", "ActionPlan", new {scenarioId = ViewBag.scenarioId})
  </div>
  <div class="tab-pane" id="resources">

      @Html.Action("_PartialResources", "Scenario")

  </div>
  <div class="tab-pane" id="works">
      <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group ">
                    <button type="button" class="btn-xs btn-success" id="workAdd">
                        <span class="glyphicon glyphicon-plus"></span> Add Submited Work
                    </button>
                    <button type="button" class="btn-xs btn-danger right" id="workRemove" hidden="false">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
                <div id="addWorkPanel" hidden="false" style="padding-bottom:10px">
                    @Html.Action("_PartialWorkCreate", "Work", new {scenarioId = ViewBag.scenarioId})
                </div>      
            </div>
            
        </div>
        
        @Html.Action("_PartialWork", "Work", new {scenarioId = ViewBag.scenarioId})

  </div>
  @*<div class="tab-pane" id="feedback">
      @Html.Action("_PartialFeedbacks", "Scenario")

  </div>*@
</div>

<script>
    $("#taskAdd").click(function () {
        $("#addPanel").show(100, function () {
            $("#taskAdd").hide(100);
            $("#taskRemove").show(100);
        });
    });
    $("#taskRemove").click(function () {
        $("#addPanel").hide(100, function () {
            $("#taskRemove").hide(100);
            $("#taskAdd").show(100);
        });
    });
    $("#actionPlanAdd").click(function () {
        $("#addActionPlanPanel").show(100, function () {
            $("#actionPlanAdd").hide(100);
            $("#actionPlanRemove").show(100);
        });
        
    });
    $("#actionPlanRemove").click(function () {
        $("#addActionPlanPanel").hide(100, function () {
            $("#actionPlanRemove").hide(100);
            $("#actionPlanAdd").show(100);
        });
    });
    $("#workAdd").click(function () {
        $("#addWorkPanel").show(100, function () {
            $("#workAdd").hide(100);
            $("#workRemove").show(100);
        });
    });
    $("#workRemove").click(function () {
        $("#addWorkPanel").hide(100, function () {
            $("#workRemove").hide(100);
            $("#workAdd").show(100);
        });
    });

    function searchAdmin() {
        alert("geldi");
        var URL = "Task/_PartialStudentTask";

        $.get(URL, function (data) {
            $("#myPartialViewDiv").html(data);
        })
    }
</script>