@model CollaborativeLearning.Entities.Task
<div id="studentTaskUpdateContainer">

    @using (Ajax.BeginForm("_PartialTaskUpdate", "Task", new AjaxOptions
                                                                    {
                                                                        HttpMethod = "POST",
                                                                        UpdateTargetId = "studentTaskUpdateContainer",
                                                                        OnBegin = "ProcessResourceUpdateAjaxForm",
                                                                        OnComplete = "CompleteResourceUpdateAjaxForm",
                                                                        OnSuccess = "SuccessResourceUpdateAjaxForm"
                                                                    }))
    {

            <div class="form-group">
                @Html.LabelFor(m => m.TaskName)
                <div class="controls">
                    @Html.TextBoxFor(m => m.TaskName, new
                                                       {
                                                           @class = "form-control",
                                                           placeholder = "Enter Task Name"
                                                       }) 
                    @Html.ValidationMessageFor(m => m.TaskName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Content)
                <div class="controls">
                    @*@EditorTask()
                    <br />*@
                    @Html.TextAreaFor(m => m.Content, new
                                                       {
                                                           @class = "form-control taskUpdateContent",
                                                           @id = "taskUpdateContent_" + Model.Id,
                                                           placeholder = "Enter Task Content"
                                                       })
                    @Html.ValidationMessageFor(m => m.Content)
                </div>
            </div>
        <div class="modal-footer">
            <div class="text-left">

                Updet
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Update Task</button>
                <button type="button" class="btn btn-default" onclick="closeEditTask(@Model.Id)" >Close</button>
                <img src="~/Content/Images/processing.gif" style="width:30px;height:30px" id="resourceUpdateProcessingIcon_@Model.Id" />
            </div>
        </div>
    }

<script>
    $(function () {
        CKEDITOR.config.htmlEncodeOutput = true;
        CKEDITOR.config.autoParagraph = false;
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.replace("taskUpdateContent_" + @Model.Id);

    });
</script>
<script>
    $(document).ready(function () {
        $("#UpdateTaskSuccess").hide();
        $("#UpdateTaskFailure").hide();
        $("#resourceUpdateProcessingIcon_"+@Model.Id).hide();
    });
    function UpdateTaskSuccess() {
        alert("success");
    }
    function UpdateTaskFailure() {
        alert("fail");
    }

    function closeEditTask(id) {
        $("#updateTaskForm_" + id).hide(100);
    }

    function ProcessResourceUpdateAjaxForm() {
        $("#resourceUpdateProcessingIcon_"+@Model.Id).show();

    };
    function CompleteResourceUpdateAjaxForm() {

        $("#resourceUpdateProcessingIcon_"+@Model.Id).hide();

    };
    function SuccessResourceUpdateAjaxForm() {
        console.log("asa");
        editStudentTask(@Model.Id);
        $("#collapse_" + @Model.Id).show(100);
    }
</script>

    </div>