@model IEnumerable<CollaborativeLearning.Entities.Task>
@{
    ViewBag.Title = "Tasks";
}
<div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="span6">
                            <div class="btn-group ">
                                <button type="button" class="btn btn-sm btn-primary" id="taskAdd">
                                    <span class="glyphicon glyphicon-plus"></span> Add Task
                                </button>
                                <button type="button" class="btn-sm btn-danger" id="taskRemove" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Close
                                </button>
                            </div>
                        </div>
                    </div>
                        @*- @Html.ActionLink("See All Tasks","Index","Task")*@
                </div>
                
                <div id="addPanel" class="row"  style="display:none;" >
                    <div class="col-lg-12 clearfix" style="margin-left:10px;">
                        <div style="padding-bottom:10px">
                            @Html.Action("_PartialTaskCreate", "Task", new {scenarioId = ViewBag.scenarioId})
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div id="contentStudentTask">
    @foreach (var item in Model)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="col-lg-4">
                    <div>
                        <a class="studentTaskCollapse" id="@item.Id" href="#collapse_@item.Id" data-toggle="collapse" style="color:white;text-decoration:none;">
                            @item.TaskName 
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-left"></i>
                        </a>
                    </div>
                </div>
                <div class="text-right">
                    <div class="btn-group ">
                        <a class='deneme btn btn-success btn-sm' onclick="editStudentTask(@item.Id)">
                            <span class='glyphicon glyphicon-pencil'></span> Edit 
                        </a>
                         @Ajax.ActionLink("Delete", "Delete", "Task", new { id = item.Id, scenarioId = @ViewBag.scenarioId },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    Confirm = "Are you sure to delete this task?",
                                    UpdateTargetId = "studentTaskContainer",
                                    LoadingElementId = "loadingDelete",
                                },
                               new {@class="btn btn-danger btn-sm" })
                       @* <a href='../../Task/Delete/@item.Id' onclick='return confirm_click();' class='btn btn-danger btn-sm'>
                            <span class='glyphicon glyphicon-remove'></span> Delete 
                        </a>*@
                    </div>

                </div>
            </div>
            <div class="panel-body collapse" id="collapse_@item.Id">
                @Html.Raw(HttpUtility.HtmlDecode(item.Content))
            </div>
            <div class="panel-body" id="updateTaskForm_@item.Id" style="display:none;">
                @Html.Action("_PartialTaskUpdate", "Task", new {
                                                                    @id = item.Id,
                                                                    @scenarioId = TempData["scenarioId"]
                                                                })
            </div>
        </div>      
    }
</div>
<script type="text/javascript">
    function confirm_click() {
        return confirm("Are you sure to delete this task? Note: This task can be assigned more than one scenario.");
    }

    function success(result) {
        $("#_PartialTaskUpdate").html(result);
        reloadDisplayAverage();
    }

    $('.studentTaskCollapse').click(function (e) {
        $(e.currentTarget).find("i.indicator").toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        $("#updateTaskForm_" + e.currentTarget.id).hide(100);
        $("#collapse_" + e.currentTarget.id).toggle(100);
    });

    function editStudentTask(id) {
        $("#updateTaskForm_" + id).toggle(100);
        $("#collapse_" + id).find("i.indicator").removeClass('glyphicon-chevron-up');
        $("#collapse_" + id).find("i.indicator").addClass('glyphicon-chevron-down');
        $("#collapse_" + id).find("i.indicator").addClass('collapse');
        $("#collapse_" + id).find("i.indicator").removeClass('in');
        $("#collapse_" + id).hide(100);
    }

</script>
<style>
    a .indicator 
    {
        margin-right: 20px;
        margin-left: -20px;
        margin-top: 4px;
    }
</style>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    //$(function () {
    //    $(".taskUpdateContent").kendoEditor({
    //        encoded: false
    //    });
    //});
    //$(function () {
    //    CKEDITOR.config.htmlEncodeOutput = true;
    //    CKEDITOR.config.autoParagraph = false;
    //    CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
    //    CKEDITOR.replace("taskUpdateContent");

    //});
</script>

<div id = "loadingDelete">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingDelete {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>