@model CollaborativeLearning.Entities.Task
@using (Ajax.BeginForm("_PartialTaskCreate", "Task", new { scenarioId = ViewBag.scenarioId },
        new AjaxOptions { HttpMethod = "POST",
                          UpdateTargetId = "studentTaskContainer",
                          LoadingElementId = "loading"
        }, 
        null))
{
 @Html.AntiForgeryToken()
 @Html.ValidationSummary(true)
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            Add New Task
        </div>
        <div class="panel-body clearfix">
            <div class="form-group">
                @Html.LabelFor(m => m.TaskName)
                <div class="controls">
                    @Html.TextBoxFor(m => m.TaskName, new
                                                       {
                                                           @class = "form-control",
                                                           id = "exampleInputEmail1",
                                                           placeholder = "Enter Task Name"
                                                       }) 
                    @Html.ValidationMessageFor(m => m.TaskName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Content)
                <div class="controls">
                    @*@EditorTask()
                    <br />*@
                    @Html.TextAreaFor(m => m.Content, new
                                                       {
                                                           @class = "form-control ckeditor",
                                                           id = "taskContent",
                                                           name = "taskContent",
                                                           placeholder = "Enter Task Name"
                                                       }) 
                    
                    @Html.ValidationMessageFor(m => m.Content)
                    
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Task</button>
            </div>
        </div>
    </div>   
}
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
   //$(function(){
   //    $("#taskContent").kendoEditor({
   //     encoded: false
   //   });
    //});

    $(function () {
        CKEDITOR.config.htmlEncodeOutput = true;
        CKEDITOR.config.autoParagraph = false;
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.replace("taskContent");
    });
</script>

@*@helper EditorTask(){
    @(Html.Kendo().Editor()
          .Name("editor")
          .HtmlAttributes(new { style = "width: 740px;height:400px" })
          .Tools(tools => tools
              .Clear()
              .Bold().Italic().Underline().Strikethrough()
              .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
              .InsertUnorderedList().InsertOrderedList()
              .Outdent().Indent()
              .CreateLink().Unlink()
              .InsertImage()
              .SubScript()
              .SuperScript()
              .TableEditing()
              .ViewHtml()
              .Formatting()
              .FontName()
              .FontSize()
              .FontColor().BackColor()
          )
    )
}*@
<div id = "loading">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loading {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>