@model CollaborativeLearning.Entities.Task
@using (Ajax.BeginForm("_PartialTaskCreate", "Task", new AjaxOptions { HttpMethod = "POST" }, new { scenarioId = ViewBag.scenarioId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-primary">
        <div class="panel-heading">
            @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control", id = "exampleInputEmail1", placeholder = "Enter Task Name" }) @Html.ValidationMessageFor(m => m.TaskName)

        </div>
        <div class="panel-body">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", placeholder = "Content" }) @Html.ValidationMessageFor(m => m.Content)
        </div>
    </div>   
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Task</button>
                    
                </div>
}