@model ICollection<CollaborativeLearning.Entities.Semester>
@{
    ViewBag.Title = "Semester";
}
<br />

<div class="panel panel-default">
    <div class="panel-body" id="AddSemesterContainer">
        <div class="row">
            <div class="col-lg-6">
                <div class="span6">
                    <button type="button" class="btn btn-primary btn-sm" 
                            data-toggle="modal" data-target="#modal_semesterCreate" id="semesterAdd">
                        <span class="glyphicon glyphicon-plus"></span> Add Semester
                    </button>
                    
                    <button type="button" class="btn-sm btn-danger" id="semesterRemove" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Close
                    </button>

                </div>
            </div>
            <div class="col-lg-6 rightColumn">
                @Html.Action("_PartialGoToSemester", "Semester")
            </div>
        </div>

        <div class="row" id="CreateSemesterPartialDiv" style="display:none;" >
            <div class="col-lg-12 clearfix" style="margin-left:10px;">
                <div style="padding-bottom:10px">
                    @Html.Action("_PartialCreate", "Semester")
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" id="SemesterEditPartialContainner">
       <div class="row" id="EditSemesterPartialDiv" style="display:none;" >
            <div class="col-lg-12 clearfix" style="margin-left:10px;">
                <div style="padding-bottom:10px">
                    @Html.Action("_PartialEdit", "Semester", new { id=0 })
                </div>
            </div>
        </div>
    </div>
</div>

<div id="SemesterDataTableContainer">
    <div class="panel panel-warning clearfix" id="SemestersContainner">
        <div class="panel-heading">Semester List</div>
        <div class="panel-body">
            <table class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <td align="center" class="col-sm-1">
                            <b>Active</b>
                        </td>
                        <td align="center">
                            <b>Semester Name</b>
                        </td>
                        <td align="center">
                            <b>Registration Code</b>
                        </td>
                        <td align="center">
                            <b>Mentor Code</b>
                        </td>
                        <td align="center">
                            <b>Group Count</b>
                        </td>
                        <td align="center">
                            <b>Students Count</b>
                        </td>
                        <td align="center">
                            <b>Mentors Count</b>
                        </td>
                        <td align="center" class="col-sm-2">
                            <b>Actions</b>
                        </td>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr class="@if (item.isActive) {  <text> success </text>   } else { <text> danger </text>   }">
                        <td align="center">


                        @if (item.isActive)
                        {

                        @Ajax.ActionLink(" ", "ChangeActiveStatus", "Semester", new { id = item.Id, Active = item.isActive },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "semesters",
                                        LoadingElementId = "loadingSemesterOps"
                                    },
                            new { @class = "btn-sm btn-danger glyphicon glyphicon-off" })
                        }
                        else
                        {
                        @Ajax.ActionLink(" ", "ChangeActiveStatus", "Semester", new { id = item.Id, Active = item.isActive },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "semesters",
                                        LoadingElementId = "loadingSemesterOps"
                                    },
                                     new { @class = "btn-sm btn-success glyphicon glyphicon-play-circle" })
                        }

                    </td>
                        <td align="left">
                            @Html.ActionLink(item.semesterName, "Index", "Semester", new {id=item.Id },null)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.registerCode)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.mentorRegisterCode)
                        </td>        
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Groups.Count)
                        </td>     
                        <td align="center">
                            @{
                                var student = item.Users.Where(s => s.RoleID == 3).Count();
                            }
                            @Html.DisplayFor(modelItem => student)
                        </td>    
                        <td align="center">
                            @{
                                var mentor = item.Users.Where(s => s.RoleID == 2).Count();
                            }
                            @Html.DisplayFor(modelItem => mentor)
                        </td>    
                        <td align="center">
                            @Ajax.ActionLink(" ", "_PartialEdit", "Semester", 
                            new { id = item.Id }, 
                            new AjaxOptions {
                                InsertionMode=InsertionMode.Replace,
                                UpdateTargetId = "SemesterEditPartialContainner",
                                LoadingElementId = "loadingSemesterOps"
                
                            }, 
                            new {@class = "btn-sm btn-info glyphicon glyphicon-edit openSemesterEditPartial",alt = "Edit Semester" })
            
                            @Ajax.ActionLink(" ", "Delete", "Semester", new { id = item.Id},
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    Confirm = "Are you sure to delete this semester?",
                                    UpdateTargetId = "semesters",
                                    LoadingElementId = "loading",
                                },
                              new {@class = "btn-sm btn-danger glyphicon glyphicon-trash semesterRemove", alt = "Delete Semester" })
                        </td>
                </tr>
                    <tr>
                        <td colspan="5"> 

                        </td>
               


                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
    @*@Html.Partial("_PartialSemesterDataTable",Model)*@
</div>

<script>
    $("#semesterAdd").click(function () {
        $("#CreateSemesterPartialDiv").show(100, function () {
            $("#semesterAdd").hide(100);
            $("#semesterRemove").show(100);
        });
    });

    $("#semesterRemove").click(function () {
        $("#CreateSemesterPartialDiv").hide(100, function () {
            $("#semesterRemove").hide(100);
            $("#semesterAdd").show(100);
        });
    });
</script>

<div id="loadingSemesterOps">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<style>
    div#loadingSemesterOps {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#SemesterEditPartialContainner").hide();
        $("#loadingMentorOps").hide();
    });
    $(".openSemesterEditPartial").click(function () {
        $("#AddSemesterContainer").hide();
        $("#SemesterEditPartialContainner").show(100);
    });
    $("#semesterRemove").click(function () {
        $("#SemesterEditPartialContainner").hide(100);
    });
    
</script>
