@model CollaborativeLearning.Entities.Semester
@{
    ViewBag.Title = "Semester";
}
<br />
@if (ViewBag.Message == "true")
{
    if (ViewBag.MessageType == "SuccessAddSemester")
    {
        <text>
            <div class="alert alert-warning alert-dismissable" id="CreateSemesterSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Well Done!</strong>@ViewBag.Alert
            </div>
        </text>
    }
    if (ViewBag.MessageType == "FailureAddSemester")
    {
        <text>
            <div class="alert alert-warning alert-dismissable" id="CreateSemesterFailure">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh Snap!</strong> @ViewBag.Alert
            </div>

        </text>
    }
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="span6">
                    <button type="button" class="btn btn-primary btn-sm" 
                            data-toggle="modal" data-target="#modal_semesterCreate">
                        <span class="glyphicon glyphicon-plus"></span> Add Semester
                    </button>
                </div>
            </div>
            <div class="col-lg-6 rightColumn">
                @Html.Action("_PartialGoToSemester", "Semester")
            </div>
        </div>
        <div class="row">
            <div id="CreateSemesterPartialDiv">
                <div class="col-lg-6 rightColumn">
                    @Html.Action("_PartialCreate", "Semester")
                </div>
            </div>
        </div>
    </div>
</div>

<div id="SemesterDataTableContainer">
    @Html.Partial("_PartialSemesterDataTable")
</div>