@model CollaborativeLearning.Entities.Semester

@model CollaborativeLearning.Entities.Semester
@{

    List<SelectListItem> yearList = new List<SelectListItem>();
    int presentYear = DateTime.Now.Year;
    for (int i = 0; i < 5; i++)
    {
        yearList.Add(new SelectListItem { Text = (presentYear + i).ToString(), Value = (presentYear + i).ToString() });
    }
    List<SelectListItem> semesterList = new List<SelectListItem>();
    semesterList.Add(new SelectListItem { Text = "Güz", Value = "1" });
    semesterList.Add(new SelectListItem { Text = "Bahar", Value = "2" });
    semesterList.Add(new SelectListItem { Text = "Yaz", Value = "3" });
}

@if (ViewBag.Message == "true")
{
    if (ViewBag.MessageType == "SuccessAddSemester")
    {
        <text>
            <div class="alert alert-warning alert-dismissable" id="CreateSemesterSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Well Done!</strong>@ViewBag.Alert
            </div>
        </text>
    }
    if (ViewBag.MessageType == "FailureAddSemester")
    {
        <text>
            <div class="alert alert-warning alert-dismissable" id="CreateSemesterFailure">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh Snap!</strong> @ViewBag.Alert
            </div>

        </text>
    }
}
<div id="testtt">


</div>

<!-- Modal -->
<div class="modal fade" id="modal_semesterCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- modal-dialog -->
        <div class="modal-content">
            <!-- modal-content -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Semester Add</h4>
            </div>

            @using (Ajax.BeginForm("Edit", "Semester", null, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "testtt"

            }, null))
            {
                <div class="modal-body">
                    @*@Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)*@
                    <table>
                        <tr>
                            <td width="100">
                                @Html.LabelFor(m => m.year)
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.year, yearList)
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationMessageFor(m => m.year)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.semester)
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.semester, semesterList)
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.ValidationMessageFor(m => m.semester)
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<!-- Modal -->


<script>
    function CreateSemesterSuccess(Result) {
        alert("Success");

    }
    function CreateSemesterFailure(Result) {
        alert("fail");
    }

</script>