@model ICollection<CollaborativeLearning.Entities.Semester>
@{
    ViewBag.Title = "Semester";
}
<br />

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="span6">
                    <button type="button" class="btn btn-primary btn-sm" 
                            data-toggle="modal" data-target="#modal_semesterCreate" id="semesterAdd">
                        <span class="glyphicon glyphicon-plus"></span> Add Semester
                    </button>
                    
                    <button type="button" class="btn-sm btn-danger" id="semesterRemove" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Close
                    </button>

                </div>
            </div>
            <div class="col-lg-6 rightColumn">
                @Html.Action("_PartialGoToSemester", "Semester")
            </div>
        </div>

        <div class="row" id="CreateSemesterPartialDiv" style="display:none;" >
                    <div class="col-lg-12 clearfix" style="margin-left:10px;">
                        <div style="padding-bottom:10px">
                            @Html.Action("_PartialCreate", "Semester")
                        </div>
                    </div>
                </div>

@*        <div class="row">
            <div id="CreateSemesterPartialDiv">
                <div class="col-lg-6 rightColumn">
                    @Html.Action("_PartialCreate", "Semester")
                </div>
            </div>
        </div>*@
    </div>
</div>

<div id="SemesterDataTableContainer">
    <br />
    <div id="SemesterEditPartialContainner">
       <div class="row" id="EditSemesterPartialDiv" style="display:none;" >
                        <div class="col-lg-12 clearfix" style="margin-left:10px;">
                            <div style="padding-bottom:10px">
                                @*@Html.Action("Edit", "Semester", new { id=0 })*@
                                <button type="button" class="btn-sm btn-danger" id="editRemove" style="display:none;">
                                        <span class="glyphicon glyphicon-remove"></span> Close
                                </button>
                            </div>
                        </div>
        </div>
    </div>

    <div class="panel panel-warning clearfix" id="SemestersContainner">
        <div class="panel-heading">Semester List</div>
        <div class="panel-body">
            <table class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <td align="center" class="col-sm-1">
                            <b>Semester Name</b>
                        </td>
                        <td align="center">
                            <b>Registration Code</b>
                        </td>
                        <td align="center">
                            <b>Mentor Code</b>
                        </td>
                        <td align="center">
                            <b>Group Count</b>
                        </td>
                        <td align="center">
                            <b>Students Count</b>
                        </td>
                        <td align="center">
                            <b>Mentors Count</b>
                        </td>
                        <td align="center">
                            <b>Active</b>
                        </td>
                        <td align="center" class="col-sm-2">
                            <b>Actions</b>
                        </td>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.semesterName)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.registerCode)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.mentorRegisterCode)
                        </td>        
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Groups.Count)
                        </td>     
                        <td align="center">
                            @*@Html.DisplayFor(modelItem => item.Users.Where(s=>s.RoleID == 3).Count)*@
                        </td>    
                        <td align="center">
@*                            @Html.DisplayFor(modelItem => item.Users.Where(s=>s.RoleID==2).Count)*@
                        </td>  
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.isActive)
                        </td>     
                        <td align="center">
                            @Ajax.ActionLink("Edit", "_PartialEdit", "Semester", 
                            new { id = item.Id }, 
                            new AjaxOptions {
                                InsertionMode=InsertionMode.Replace,
                                UpdateTargetId = "SemesterEditPartialContainner",
                                LoadingElementId = "loadingSemesterOps"
                
                            }, 
                            new {@class="btn btn-primary btn-xs glyphicon glyphicon-plus openSemesterEditPartial"})
            
                          |
                            @Html.ActionLink("Semesters", "_SemesterToMentor", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>
                </tr>
                    <tr>
                        <td colspan="5"> 

                        </td>
               


                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
    @*@Html.Partial("_PartialSemesterDataTable",Model)*@
</div>

<script>
    $("#semesterAdd").click(function () {
        $("#CreateSemesterPartialDiv").show(100, function () {
            $("#semesterAdd").hide(100);
            $("#semesterRemove").show(100);
        });
    });

    $("#semesterRemove").click(function () {
        $("#CreateSemesterPartialDiv").hide(100, function () {
            $("#semesterRemove").hide(100);
            $("#semesterAdd").show(100);
        });
    });
</script>

<div id="loadingSemesterOps">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<style>
    div#loadingSemesterOps {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<script>
    $(document).ready(function () {
        console.log("Document");
        $("#SemesterEditPartialContainner").hide();
        $("#loadingMentorOps").hide();
    });
    $(".openSemesterEditPartial").click(function () {
        console.log("click");
        $("#SemesterEditPartialContainner").show(100);
    });
</script>