@model CollaborativeLearning.Entities.Semester
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SemesterLayout.cshtml";
}
@section BreadCrump{
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li><a href="@Url.Action("Index", "Semester", new { id = 0 })">Courses</a></li>
    <li class="active">@Model.semesterName</li>
}
@section Header{
    <div class="page-header" style="margin: -20px 0 20px;">
        @{
            if (Model.semester == 1)
            {
            <h3>Fall - @Model.semesterName Course</h3>        
            }
            else if (Model.semester == 2)
            {
            <h3>Spring - @Model.semesterName Course</h3>        
            }
            else if (Model.semester == 3)
            {
            <h3>Summer - @Model.semesterName Course</h3>        
            }
        }
    </div>
}

<br />

<ul class="nav nav-tabs">
    <li ><a id="groups_tab" href="#Groups" data-toggle="tab">Groups</a></li>
    <li class="active"><a id="scenarios_tab" href="#Scenarios" data-toggle="tab">Scenarios</a></li>
    <li><a id="works_tab" href="#Works" data-toggle="tab">Submitted Works</a></li>
  <li><a id="resourcesSemester_tab" href="#resourceSemester" data-toggle="tab">Resources</a></li>
    <li><a id="feedbacks_tab" href="#Feedbacks" data-toggle="tab">Feedbacks</a></li>
    <li><a id="reflections_tab" href="#Reflections" data-toggle="tab">Reflections</a></li>
    <li><a id="mentors_tab" href="#Mentors" data-toggle="tab">Mentors</a></li>
    <li><a id="students_tab" href="#Students" data-toggle="tab">Students</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane clearfix" id="Groups">
        <br />
        <div class="col-lg-12">
            @Html.Action("_PartialAddGroup", "Group", new { id = Model.Id })
        </div>
        <br />
        <div class="col-lg-12" id="SemesterGroups">
            @Html.Action("_PartialGetGroupsBySemester", "Group", new { id = Model.Id })
        </div>
    </div>
    <br />
    <div class="tab-pane active" id="Scenarios">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Used Scenarios</h3>
            </div>
            <div class="panel-body" id="scenartioTable">
                @Html.Action("_PartialGetScenariosBySemester", "Scenario", new { id = Model.Id })
            </div>
        </div>
    </div>
    <div class="tab-pane clearfix" id="Works">
        Submitted
    </div>
    <div class="tab-pane clearfix" id="resourceSemester">
        <div id="SemesterResourcesContainer">
            @Html.Action("_PartialSemesterResourceList", "Resource", new { id = Model.Id })
        </div>
    </div>
    <div class="tab-pane clearfix" id="Feedbacks">
            @Html.Action("_PartialGetGroupsBySemesterForFeedback", "Feedback", new { id = Model.Id })
    </div>
    <div class="tab-pane clearfix" id="Meetings">
        Group meetings
    </div>
    <div class="tab-pane clearfix" id="Reflections">
        Reflections
    </div>
    <div class="tab-pane clearfix" id="Mentors">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mentors</h3>
            </div>
            <div class="panel-body" id="mentorsTable">
                @Html.Action("_PartialGetMentorsBySemester", "Mentor", new { id = Model.Id })
            </div>
        </div>
    </div>
    <div class="tab-pane" id="Students">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Students</h3>
            </div>
            <div class="panel-body" id="studentsTable">
                @Html.Action("_PartialGetStudentsBySemester", "Semester", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>

<script>
    $("#groups_tab").click(function () {

        $(".list-group a").each(function (index) {
            $(this).removeClass("active");
        });
        $("#groups").addClass("active");

        $("#SemesterGroups").load("/Group/_PartialGetGroupsBySemester/@Model.Id");
    });

    $("#scenarios_tab").click(function () {

        $(".list-group a").each(function (index) {
            $(this).removeClass("active");
        });
        $("#scenarios").addClass("active");
    });

    $("#works_tab").click(function () {

        $(".list-group a").each(function (index) {
            $(this).removeClass("active");
        });
        $("#works").addClass("active");
    });

    $("#feedbacks_tab").click(function () {

        $(".list-group a").each(function (index) {
            $(this).removeClass("active");
        });
        $("#feedbacks").addClass("active");
    });

    $("#reflections_tab").click(function () {

        $(".list-group a").each(function (index) {
            $(this).removeClass("active");
        });
        $("#reflections").addClass("active");
    });

    $("#students_tab").click(function () {

        $(".list-group a").each(function (index) {
            $(this).removeClass("active");
        });
        $("#students").addClass("active");
    });

    $("#mentors_tab").click(function () {

        $(".list-group a").each(function (index) {
            $(this).removeClass("active");
        });
        $("#mentors").addClass("active");
    });
</script>
