@model CollaborativeLearning.Entities.Resource

@{
    List<SelectListItem> ResourceCategory = new List<SelectListItem>();
    ResourceCategory.Add(new SelectListItem { Text = "Select ResourceType", Value = "" });
    ResourceCategory.Add(new SelectListItem { Text = "Text", Value = "Text" });
    ResourceCategory.Add(new SelectListItem { Text = "Link", Value = "URL" });
    ResourceCategory.Add(new SelectListItem { Text = "File/PDF", Value = "File/PDF" });
    ResourceCategory.Add(new SelectListItem { Text = "File/Zip", Value = "File/Zip" });
    ResourceCategory.Add(new SelectListItem { Text = "File/Document", Value = "File/Document" });
    ResourceCategory.Add(new SelectListItem { Text = "File/Other", Value = "File/Other" });
    ResourceCategory.Add(new SelectListItem { Text = "Other", Value = "Other" });

}
@if (ViewBag.ErrorType == "ResourceAdd")
{
    <div class="alert alert-warning" id="ResourceAddWarning">
        @ViewBag.Message
    </div>
}
<br />
<div class="panel panel-warning clearfix" id="ResourceAddContainner" >
    <div class="panel-heading">Add New Resource</div>
    <div class="panel-body">


        @using (Ajax.BeginForm("AddResource", "Resource", null, new AjaxOptions {
            HttpMethod = "POST",
            
            UpdateTargetId = "AddResourceContainner",
            OnBegin = "ProcessResourceAddAjaxForm",
            OnComplete = "CompleteResourceAddAjaxForm",
            OnSuccess = "SuccessResourceAddAjaxForm"
        }, 
            new {id="ResourceAddForm", @class="form" }))
        {
            @Html.AntiForgeryToken();
            @*<div class="row"> <div class="span8 alert-success">After creating resource, you have to upload file(s) to broadcast</div></div>*@
            <br />
            <div class="row">
                <div class="col-lg-2">
                    <div class="span2">@Html.LabelFor(m => m.Name)</div>
                </div>
                <div class="col-lg-2">
                    <div class="span2">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required" })</div>
                    <div class="span2">@Html.ValidationMessageFor(m => m.Name) </div>
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-lg-2">
                    <div class="span2">@Html.LabelFor(m => m.type)</div>
                </div>
                <div class="col-lg-2">
                    <div class="span2">@Html.DropDownListFor(m => m.type, ResourceCategory, new { id = "ResourceTypeDropDown", @class = "form-control", required = "required" })</div>
                </div>
            </div>
            <br />
            <div class="panel panel-success clearfix" id="ResourceTextEditor">
                <div class="panel-heading">Rich Text Editor</div>
                <div class="panel-body">
                    @Html.TextBox("ResourceText", null, new { @class = "form-control", rows = "3", autofocus = "autofocus", contenteditable = "true", placeholder = "Enter Your Text" })
                </div>
            </div>


            <div class="panel panel-success clearfix" id="ResourceLinkEditor">
                <div class="panel-heading">Link</div>
                <div class="panel-body">
                    @Html.TextBox("ResourceUrl", null, new { @class = "form-control", autofocus = "autofocus", type = "url", placeholder = "Enter URL" })
                </div>
            </div>

            <div class="panel panel-success clearfix" id="ResourceFileEditor">
                <div class="panel-heading">File(s)</div>
                <div class="panel-body">
                   <label class="radio-inline">
                       @Html.RadioButton("FileUpload", "Now",false,new { }) Save and Upload File(s) Now
                   </label>
                   <label class="radio-inline">
                        @Html.RadioButton("FileUpload", "Later", false, new { }) Save and Upload File(s) Later
                   </label>
                  

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 text-right">
                    <input type="submit" class="btn btn-success" value="Save" id="resourceAddFormSubmit" />
                    <img src="~/Content/Images/processing.gif" style="width:30px;height:30px" id="resourceAddProcessingIcon"/>
                    @*<a class="btn btn-success" href="#" id="btnSaveAndEdit"><i class="icon-ok icon-white"></i>Kaydet ve Düzenle </a>*@
                </div>
            </div>

        }
    </div>
</div>
<div id="ResourceEditContainner">
  @Html.Action("_PartialEditResource","Resource", new { id = 0 })
</div>
<div id="ResourceTableContianner">
    @Html.Action("_PartialResourceList")
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#ResourceTextEditor").hide();
        $("#ResourceLinkEditor").hide();
        $("#ResourceFileEditor").hide();
        $("#resourceAddProcessingIcon").hide();
        $("#ResourceEditContainner").hide();
        
        $("#ResourceTypeDropDown").change(function () {
            var dd = $("#ResourceTypeDropDown");
            var ct = dd.val().substr(0, 4);

            switch (ct) {
                case "Text":
                    $("#ResourceTextEditor").show(100);
                    $("#ResourceLinkEditor").hide(100);
                    $("#ResourceFileEditor").hide(100)
                    break;
                case "URL":
                    $("#ResourceTextEditor").hide(100);
                    $("#ResourceLinkEditor").show(100);
                    $("#ResourceFileEditor").hide(100);
                    break;
                case "File":
                    $("#ResourceTextEditor").hide(100);
                    $("#ResourceLinkEditor").hide(100);
                    $("#ResourceFileEditor").show(100);
                    break;
                default:
                    $("#ResourceTextEditor").hide(100);
                    $("#ResourceLinkEditor").hide(100);
                    $("#ResourceFileEditor").hide(100);
                    break;

            }
        });
             
    });
    function ProcessResourceAddAjaxForm() {
        $("#resourceAddProcessingIcon").show();
        $("#resourceAddFormSubmit").hide();

    };
    function CompleteResourceAddAjaxForm() {
       
        $("#resourceAddProcessingIcon").hide();
        $("#resourceAddFormSubmit").show();

    };
    function SuccessResourceAddAjaxForm(){
        $("#ResourceAddForm").reset();
    }
</script>