@model CollaborativeLearning.Entities.Resource


<link href="~/Content/Colorbox/colorbox.css" rel="stylesheet" />
@{
    List<SelectListItem> ResourceCategoryEdit = new List<SelectListItem>();
    ResourceCategoryEdit.Add(new SelectListItem { Text = "Select ResourceType", Value = "" });
    ResourceCategoryEdit.Add(new SelectListItem { Text = "Text", Value = "Text" });
    ResourceCategoryEdit.Add(new SelectListItem { Text = "Link", Value = "URL" });
    ResourceCategoryEdit.Add(new SelectListItem { Text = "File/PDF", Value = "File/PDF" });
    ResourceCategoryEdit.Add(new SelectListItem { Text = "File/Zip", Value = "File/Zip" });
    ResourceCategoryEdit.Add(new SelectListItem { Text = "File/Document", Value = "File/Document" });
    ResourceCategoryEdit.Add(new SelectListItem { Text = "File/Other", Value = "File/Other" });
    ResourceCategoryEdit.Add(new SelectListItem { Text = "Other", Value = "Other" });

}
@if (ViewBag.ErrorType == "ResourceEdit")
{
HATA:
    <div class="alert alert-warning" id="ResourceAddWarning">
        @ViewBag.Message
    </div>
}
<div class="panel panel-default clearfix" id="ResourceEditPanel">
    <div class="panel-heading">
        <div class="col-lg-2">Edit Resource</div>
        <div class="text-right">
            @Ajax.ActionLink(" Add Resources", "_PartialAddResource", "Resource", new AjaxOptions
                               {
                                   InsertionMode = InsertionMode.Replace,
                                   UpdateTargetId = "ResourcePartialContainner",
                                   LoadingElementId = "loadingResourceOpsEdit"
                               }, new
                                {
                                    @class = "btn btn-sm btn-info glyphicon glyphicon-arrow-left"
                                })
            @*<button class="btn-sm btn-success glyphicon glyphicon-plus" id="ResourceEditPanelAddButon">Add Resource</button>*@
        </div>
    </div>
    <div class="panel-body">

        @using (Ajax.BeginForm("Edit", "Resource", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ResourcePartialContainner",
            LoadingElementId = "loadingResourceOpsEdit"
        }, null))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.type)
            @Html.HiddenFor(m => m.RegDate)
            @Html.HiddenFor(m => m.RegUserID)
            <div class="row clearfix">
                <div class="col-lg-5 text-right">
                    <input type="submit" class="btn btn-success" value="Save Changes" id="resourceAddFormSubmit" />
                </div>

                <div class="col-lg-2">
                    <div class="span2">@Html.LabelFor(m => m.isActive)</div>
                </div>
                <div class="col">
                    @Html.CheckBoxFor(m => m.isActive)
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    <div class="span2">@Html.LabelFor(m => m.Name)</div>
                </div>
                <div class="col">
                    <div class="span2">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required" })</div>
                    <div class="span2">@Html.ValidationMessageFor(m => m.Name) </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    <div class="span2">@Html.LabelFor(m => m.type)</div>
                </div>
                <div class="col">
                    <div class="span2">
                        @Html.DropDownListFor(m => m.type, ResourceCategoryEdit, new { id = "ResourceTypeDropDownEdit", @class = "form-control", required = "required", @readonly = "readonly", disabled = "true" })
                    </div>
                    <div class="span5">
                        You cannot change Resource Type! You can delete and recreate resource to change type!
                    </div>
                </div>
            </div>

            <br />
            if (Model.type == "Text")
            {
                <div class="panel panel-success clearfix" id="ResourceLinkEditor">
                    <div class="panel-heading">Rich Text Editor</div>
                    <div class="panel-body">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3", autofocus = "autofocus", contenteditable = "true", placeholder = "Enter Your Text" })
                    </div>
                </div>
            }
            if (Model.type == "URL")
            {
                <div class="panel panel-success clearfix" id="ResourceLinkEditor">
                    <div class="panel-heading">Link</div>
                    <div class="panel-body">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", rows = "3", autofocus = "autofocus", type = "url", contenteditable = "true", placeholder = "Enter URL" })
                    </div>
                </div>
            }
        }

        @if (Model.type.Contains("File"))
        {
            @Html.HiddenFor(m => m.Description)
            <div class="panel panel-default clearfix" id="ResourceEditPanel">
                <div class="panel-heading clearfix">
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            Files
                        </div>
                        <div class="col-lg-3 pull-right">
                            <a href="@Url.Action("_PartialFileUploadToResource", "Resource", new { id = Model.Id })" class="btn btn-success glyphicon glyphicon-plus resourceFileUploadCB">Add File(s)</a>
                          

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div>

                    </div>
                </div>
            </div>
        }

    </div>
</div>


<div id="ResourceTableContianner">
    @Html.Action("_PartialResourceList")
</div>
<div id="loadingResourceOpsEdit">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<script src="~/Content/Colorbox/jquery.colorbox.js"></script>
<style>
    div#loadingResourceOpsEdit {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ResourceEditPanelAddButon").click(function () {
            $("#ResourceAddContainner").show(100);
            $("#ResourceEditContainner").hide(100);

        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".resourceFileUploadCB").colorbox({ iframe: true, width: "50%", height: "60%" });
    });
</script>