@model ICollection<CollaborativeLearning.Entities.Resource>

<div class="alert alert-warning" id="ResourceChangeActiveAlert">
    <div class="col-sm-1"> <img src="~/Content/Images/processing.gif" style="width:30px;height:30px" id="resourceAddProcessingIcon" class="img-responsive" /></div>
    <div class="col-lg-12">Wait your processing is continue! Thank you for patient.</div>
</div>
<table class="table table-hover table-responsive table-striped">
    <thead>
        <tr>
            <td align="center" class="col-sm-1">
                <b>Active</b>
            </td>
            <td align="center">
                <b>Resource Name</b>
            </td>
            <td align="center">
                <b>Category</b>
            </td>
            <td align="center">
                <b>Content</b>
            </td>
            <td align="center" class="col-sm-2">
                <b>Action</b>
            </td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count != 0)
        {

            foreach (var item in Model)
            {

                <tr class="@if (item.isActive) {  <text> success </text>   } else { <text> danger </text>   }">

                    <td align="center">


                        @if (item.isActive)
                        {

                        @Ajax.ActionLink(" ", "ChangeActiveStatus", "Resource", new { id = item.Id, Active = item.isActive },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "ResourceTableContianner",
                                        LoadingElementId = "ResourceChangeActiveAlert"
                                    },
                            new { @class = "btn-sm btn-danger glyphicon glyphicon-off" })
                        }
                        else
                        {
                        @Ajax.ActionLink(" ", "ChangeActiveStatus", "Resource", new { id = item.Id, Active = item.isActive },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "ResourceTableContianner",
                                        LoadingElementId = "ResourceChangeActiveAlert"
                                    },
                                     new { @class = "btn-sm btn-success glyphicon glyphicon-play-circle" })
                        }

                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.type
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td align="center">


                        @Ajax.ActionLink(" ", "Delete", "Resource", new { id = item.Id },
                                new AjaxOptions
                                {
                                    Confirm = "Are you sure to delete this resource",
                                    UpdateTargetId = "ResourceTableContianner",
                                    LoadingElementId = "loadingResourceOps"
                                },
                        new { @class = "btn-sm btn-danger glyphicon glyphicon-trash" })

                        @Html.ActionLink(" ", "Resource", new { id = item.Id }, new { @class = "btn-sm btn-info glyphicon glyphicon-edit" })
                        @if (item.type.Substring(0,3)=="Fil")
                        {
                             @Ajax.ActionLink(" ", "DownloadAllResourceFiles", "Resource", new { id = item.Id },
                                new AjaxOptions
                                {
                                    Confirm = "Are you sure to delete this resource",
                                    UpdateTargetId = "ResourceTableContianner",
                                    LoadingElementId = "loadingResourceOps"
                                },
                            new { @class = "btn-sm btn-danger glyphicon glyphicon-download-alt" })
                        }


                    </td>
                </tr>

            }

        }
        else
        {
            <tr>
                <td colspan="4" width="100%">
                    Any resource is not found!
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="loadingResourceOps">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingResourceOps {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#ResourceChangeActiveAlert").hide();

    });

    function ProcessResourceChangeAcitive() {
        $("#ResourceChangeActiveAlert").show();
    };
    function CompleteResourceChangeAcitive() {
        $("#ResourceChangeActiveAlert").hide();

    };
    function SuccessResourceChangeAcitive() {

    }
</script>