@model ICollection<CollaborativeLearning.Entities.Resource>

<div class="panel panel-default clearfix" id="ResourceAddContainner">
    <div class="panel-heading">Resource List</div>
    <div class="panel-body">


        <div class="alert alert-warning" id="ResourceChangeActiveAlert">
            <div class="col-sm-1"> <img src="~/Content/Images/processing.gif" style="width:30px;height:30px" id="resourceAddProcessingIcon" class="img-responsive" /></div>
            <div class="col-lg-12">Wait your processing is continue! Thank you for patient.</div>
        </div>
        <table class="table table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <td align="left" class="col-sm-1">
                        <b>Active</b>
                    </td>
                    <td align="left">
                        <b>Resource Name</b>
                    </td>
                    <td align="left">
                        <b>Category</b>
                    </td>
                    <td align="left" class="col-sm-3">
                        <b>Action</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
        {

            foreach (var item in Model)
            {

                <tr class="@if (item.isActive) {  <text> success </text>   } else { <text> danger </text>   }">

                    <td align="center">


                        @if (item.isActive)
                        {

                        @Ajax.ActionLink(" ", "ChangeActiveStatus", "Resource", new { id = item.Id, Active = item.isActive },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "ResourceTableContianner",
                                        LoadingElementId = "ResourceChangeActiveAlert"
                                    },
                            new { @class = "btn-sm btn-danger glyphicon glyphicon-off" })
                        }
                        else
                        {
                        @Ajax.ActionLink(" ", "ChangeActiveStatus", "Resource", new { id = item.Id, Active = item.isActive },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "ResourceTableContianner",
                                        LoadingElementId = "ResourceChangeActiveAlert"
                                    },
                                     new { @class = "btn-sm btn-success glyphicon glyphicon-play-circle" })
                        }
                    </td>
                    <td>
						<a href="@Url.Action("_PartialShowResource", "Resource", new { id = item.Id })" class="resourceShowFileCB">
							@item.Name
						</a>
                    </td>
                    <td>
                        @item.type
                    </td>
                    <td align="center">
                        
                       @Html.ActionLink(" ", "_PartialShowResource", "Resource", 
					   new { id = item.Id },
					 new { @class = "resourceShowFileCB btn-sm btn-primary glyphicon glyphicon-eye-open", alt = "See Details", title = "See Details" })

                        @Ajax.ActionLink(" ", "_PartialEditResource", "Resource", new { id = item.Id },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "ResourcePartialContainner",
                                    LoadingElementId = "loadingResourceOps",
                                    OnBegin = "ResourceEditAjaxFormBeginContainner",
                                    InsertionMode = InsertionMode.Replace

                                },
                              new { @class = "btn-sm btn-info glyphicon glyphicon-edit", alt = "All Files Download", title = "Edit Resource" })

                        @if (item.type.Substring(0, 3) == "Fil")
                        {
                        @Html.ActionLink(" ", "DownloadAllResourceFiles", "Resource", new { id = item.Id }, new {@class = "btn-sm btn-primary glyphicon glyphicon-download-alt",alt="All Files Download",title="Download all files" })
                       
                        }
                        @Ajax.ActionLink(" ", "Delete", "Resource", new { id = item.Id },
                                new AjaxOptions
                                {
                                    
                                    Confirm = "Are you sure to delete this resource",
                                    UpdateTargetId = "ResourcePartialContainner",
                                    LoadingElementId = "loadingResourceOps"
                                },
                                new { @class = "btn-sm btn-danger glyphicon glyphicon-trash", alt = "All Files Download", title = "Delete Resource" })
                    </td>
                </tr>

            }

        }
        else
        {
                <tr>
                    <td colspan="4" width="100%">
                        Any resource is not found!
                    </td>
                </tr>
        }
            </tbody>
        </table>

    </div>
</div>

<div id="loadingResourceOps">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<style>
    div#loadingResourceOps {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#ResourceChangeActiveAlert").hide();

    });

    function ProcessResourceChangeAcitive() {
        $("#ResourceChangeActiveAlert").show();
    };
    function CompleteResourceChangeAcitive() {
        $("#ResourceChangeActiveAlert").hide();

    };
    function SuccessResourceChangeAcitive() {

    }
    function ResourceEditAjaxFormBeginContainner() {

        $("#ResourceAddContainner").hide(100);
        $("#ResourceEditContainner").show(100);
    }

</script>

<script>
    $(document).ready(function () {
    	$(".resourceShowFileCB").colorbox({
            iframe: true, width: "80%", height: "80%",
        });
    });
</script>