@model CollaborativeLearning.WebUI.Models.AccountModels.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="panel-body">
                <div id="editUserProfileContainer">
                    @using (Html.BeginForm("ChangePassword", "Account",
                            FormMethod.Post, new { @class = "form-horizontal form-signin", @style = "max-width:600px;" }))
                    {
                            @Html.ValidationSummary(true, "There has been some errors. Please try again later.")
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Change Password</legend>

                                <!-- Text input-->
                                <div class="control-group">
                                  @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.OldPassword,null, new {@class="alert-danger" })
                                  <div class="controls">
                                    @Html.PasswordFor(m => m.OldPassword, new
                                        {
                                            @class = "input-large form-control",
                                            @placeholder = "Enter Old Password",
                                            required = "required "
                                        })
                                    <p class="help-block">Min: 6 characters (Alphanumeric only)</p>
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                  @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.NewPassword,null, new {@class="alert-danger" })
                                  <div class="controls">
                                    @Html.PasswordFor(m => m.NewPassword, new
                                                                           {
                                                                               @class = "input-large form-control",
                                                                               @placeholder = "Enter New Password",
                                                                               required = "required "
                                                                           })
                                    <p class="help-block">Min: 6 characters (Alphanumeric only)</p>
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                  @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.ConfirmPassword,null, new {@class="alert-danger" })
                                  <div class="controls">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new
                                        {
                                            @class = "input-large form-control",
                                            @placeholder = "Confirm Password",
                                            required = "required "
                                        })
                                    <p class="help-block">Min: 6 characters (Alphanumeric only)</p>
                                  </div>
                                </div>

                                    

                                <!-- Button -->
                                <div class="control-group modal-footer" style="padding: 20px 20px 0px;">
                                    <label class="control-label" for="change_btn"></label>
                                    <div class="controls">
                                        <button id="change_btn" name="change_btn" class="btn btn-success">Save</button>
                                        <button id="cancelUpdate" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>

                            </fieldset>
                    }
                </div>
            </div>
