@model CollaborativeLearning.WebUI.Models.ForgotPassword
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

    

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <h1 class="navbar-brand" style="padding:0px;" >CET 314: Computer Networks & Commuication</h1>
      </div><!-- /.container -->
    </nav>
    
    <div class="container" style="margin-top: 5%">
        @using (Html.BeginForm("ForgetPassword", "Account",
            FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.ValidationSummary(true, "There has been some errors. Please try again later.")	
        
            <h2 class="form-signin-heading">Forgot Password?</h2>
            <div class="control-group">
              <div class="controls">
                <input id="email" name="email" type="text" placeholder="Enter E-mail Address" class="input-large form-control" required>
            
              </div>
            </div>
        
            <button class="btn btn-large btn-success" type="submit" onclick="SendingMailShow()">Send</button>
            <br /><br />
            <label class="control-label" for="firstname">
                @Html.ActionLink("Login","Login")
            </label>
        }

    </div> <!-- /container -->
    <div class="container" style="margin-top: 5%; width:60%">
        <div class="alert alert-warning" id="SendingMail"  style="display:none">
            <div class="col-sm-1"> <img src="~/Content/Images/processing.gif" style="width:30px;height:30px" id="resourceAddProcessingIcon" class="img-responsive" /></div>
            <div class="col-lg-12">Wait your processing is continue! Thank you for patient.</div>
        </div>
        <div class="alert alert-success" id="Success"  style="display:none">
            <div class="col-lg-12"><div class="glyphicon glyphicon-time "> </div> @TempData["success"]</div>
        </div>
        <div class="alert alert-danger" id="Failed"  style="display:none">
                <div class="col-lg-12"><div class="glyphicon glyphicon-ban-circle"> </div> @TempData["failed"]</div>
        </div>
    </div>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SendingMail").hide();
        $("#Success").hide();
        $("#Failed").hide();

        if ('@TempData["success"]' != "") {
            $("#Success").show();
        }
        if ('@TempData["failed"]' != "") {
            $("#Failed").show();
        }
    });

    function SendingMailShow() {
        if ($("#email").val()) {
            $("#SendingMail").show();
            $("#Success").hide();
            $("#Failed").hide();
        }

    };
</script>