@model CollaborativeLearning.WebUI.Models.AccountModels.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<script src="~/Content/Template/js/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<link href="~/Content/Template/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
<script src="~/Content/Template/js/bootstrap-formhelpers.min.js"></script>


<div class="container" style="margin-top: 5%; width:50%">
    <div class="alert alert-success" id="SuccessRegister" style="display:none">
        <div class="col-lg-12"><div class="glyphicon glyphicon-ok "> </div> @ViewBag.success</div>
    </div>
    <div class="alert alert-danger" id="FailureRegister" style="display:none">
            <div class="col-lg-12"><div class="glyphicon glyphicon-ban-circle"> </div> @ViewBag.failed</div>
    </div>
</div>
<div class="container" style="margin-top: 2%">
        
    @using (Html.BeginForm("Register", "Account",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal form-signin", @style = "max-width:600px;" }))
    {
            @Html.ValidationSummary(true)
            <fieldset>
                <!-- Form Name -->
                <legend>Registration Form</legend>

                <!-- Text input-->
                <div class="control-group">
                    @Html.LabelFor(m => m.FirsName, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.FirsName,null, new {@class="alert-danger" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.FirsName, new
                                                            {
                                                                @class = "input-large form-control",
                                                                @placeholder = "Enter First Name",
                                                                required = "required "
                                                            })
                        
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.LastName,null, new {@class="alert-danger" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.LastName, new
                                                           {
                                                               @class = "input-large form-control",
                                                               @placeholder = "Enter Last Name",
                                                               required = "required "
                                                           })
                    </div>
                </div>

                <!-- Text input-->
                    <div class="control-group">
                        @Html.LabelFor(m => m.StudentNumber, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.StudentNumber,null, new {@class="alert-danger" })
                        <div class="controls">
                            @*<input type="text" class="form-control bfh-phone" data-format="+90 (ddd) ddd-dddd" />*@
                            @Html.TextBoxFor(m => m.StudentNumber, new
                                                                   {
                                                                       @class = "input-large form-control bfh-phone",
                                                                       @placeholder = "Enter student number",
                                                                       data_format="dddddddddd"
                                                                   })
          
                        </div>
                    </div>
                <!-- Text input-->
                <div class="control-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.UserName,null, new {@class="alert-danger" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.UserName, new
                                                           {
                                                               @class = "input-large form-control",
                                                               @placeholder = "Enter Username",
                                                               required = "required ",
                                                               @type = "username"
                                                           })
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                  @Html.LabelFor(m => m.Email, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.Email,null, new {@class="alert-danger" })
                  <div class="controls">
                     @Html.TextBoxFor(m => m.Email, new
                                                    {
                                                        @class = "input-large form-control",
                                                        @placeholder = "Enter Email",
                                                        required = "required ",
                                                        @type = "email"
                                                    })
                  </div>
                </div>

                <!-- Password input-->
                <div class="control-group">
                  @Html.LabelFor(m => m.Password, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.Password,null, new {@class="alert-danger" })
                  <div class="controls">
                    @Html.PasswordFor(m => m.Password, new
                                                           {
                                                               @class = "input-large form-control",
                                                               @placeholder = "Enter Password",
                                                               required = "required "
                                                           })
                    <p class="help-block">Min: 6 characters (Alphanumeric only)</p>
                  </div>
                </div>

                <!-- Password input-->
                <div class="control-group">
                  @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.ConfirmPassword,null, new {@class="alert-danger" })
                  <div class="controls">
                      @Html.PasswordFor(m => m.ConfirmPassword, new
                                                                {
                                                                    @class = "input-large form-control",
                                                                    @placeholder = "Enter Confirmation Password",
                                                                    required = "required "
                                                                }) 
                      <p class="help-block"> Min: 6 characters (Alphanumeric only)</p>
                  </div>
                </div>

                    <!-- Text input-->
                    <div class="control-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.PhoneNumber,null, new {@class="alert-danger" })
                        <div class="controls">
                            @*<input type="text" class="form-control bfh-phone" data-format="+90 (ddd) ddd-dddd" />*@
                            @Html.TextBoxFor(m => m.PhoneNumber, new
                                                                   {
                                                                       @class = "input-large form-control bfh-phone",
                                                                       @placeholder = "Enter phone",
                                                                       required = "required ",
                                                                       data_format="+90 (ddd) ddd-dddd"
                                                                   })
          
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Gender, new { @class = "control-label" }) @Html.ValidationMessageFor(m => m.Gender,null, new {@class="alert-danger" })
                        <div class="radio">
                           @Html.RadioButtonFor(m => m.Gender, "Male", new
                                                                          {
                                                                              @class = "input-large",
                                                                              required = "required ",
                                                                              type = "radio"
                                                                          }) Male
                        </div>
                        <div class="radio">
                           @Html.RadioButtonFor(m => m.Gender, "Female", new
                                                                          {
                                                                              @class = "input-large",
                                                                              required = "required ",
                                                                              type = "radio"
                                                                          })Female

                        </div>
                    </div>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="registr_code">Registration Code</label>
                    <div class="controls">
                        <input id="registr_code" name="registr_code" type="text" 
                                placeholder="Enter Registration Code" 
                                class="input-large form-control" required />
                    </div>
                </div>

                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="register_btn"></label>
                    <div class="controls">
                        <button id="register_btn" name="register_btn" class="btn btn-success">Register</button>
                        <hr/>
                        <span>Already have an account?</span>
                        @Html.ActionLink("Login", "Login", "Account")
                       
                    </div>
                </div>

            </fieldset>
    }
</div> <!-- /container -->



<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SuccessRegister").hide();
        $("#FailureRegister").hide();

        if ('@ViewBag.success' != "") {
            $("#SuccessRegister").show();
        }
        if ('@ViewBag.failed' != "") {
            $("#FailureRegister").show();
        }
    });

</script>  