@model CollaborativeLearning.WebUI.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
}
<div style="left:10em">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/kendo.tr-TR.js"></script>

        <div style="padding:00px 70px 0px;">
            
        <table cellspacing="0" class="" style="width:100%">
            
            @using (Html.BeginForm("ResetPassword", "Account", new { digest = @ViewBag.Digest }, FormMethod.Post, null))
            {
                @*<tr><th colspan="2">Hesap Bilgileriniz</th></tr>*@
                <tr><td colspan="2">
                     The new password must be at least @Membership.MinRequiredPasswordLength characters long..</td></tr>
                
                <tr><td>
                        @Html.Label("Neww Password")</td><td> 
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)</td></tr>
                <tr><td>
                        @Html.Label("Confirm Password")</td><td> 
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)</td></tr>
            
                <tr><td>
                    </td><td> 
                    <input type="submit" value="Save" style="width:300px;" /></td></tr>
            }
        </table>
    </div>

</div>
