@model CollaborativeLearning.WebUI.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div style="left:10em">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/kendo.tr-TR.js"></script>

        <div style="padding:00px 70px 0px;">
            
        <div class="container" style="margin-top: 2%">
            
            @using (Html.BeginForm("ResetPassword", "Account", new { digest = @ViewBag.Digest }, FormMethod.Post, new { @class = "form-horizontal form-signin", @style = "max-width:600px;" }))
            {
                <fieldset>
                <legend>Reset Your Password</legend>
                <div class="control-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    <div class="controls">
                        @Html.PasswordFor(m => m.NewPassword, new
                                                            {
                                                                @class = "input-large form-control",
                                                                @placeholder = "Enter new password",
                                                                required = "required ",
                                                            })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    <div class="controls">
                        @Html.PasswordFor(m => m.ConfirmPassword, new
                                                            {
                                                                @class = "input-large form-control",
                                                                @placeholder = "Confirm your password",
                                                                required = "required ",
                                                            })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                
                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="register_btn"></label>
                    <div class="controls">
                        <button onclick="ChangingPasswordProcess()" type="submit" class="btn btn-primary">Save</button>
                        @Html.ActionLink("Resend Mail","ForgetPassword", "Account")
                    </div>
                </div>
                </fieldset>
                
            }
        </div>
        <div class="container" style="margin-top: 5%; width:80%">
            @*<div class="alert alert-warning" id="ChangingPassword">
            <div class="col-sm-1"> <img src="~/Content/Images/processing.gif" style="width:30px;height:30px" id="ChangingPasswordProcessingIcon" class="img-responsive" /></div>
            <div class="col-lg-12">Wait your processing is continue! Thank you for patient.</div>
            </div>*@
            <div class="alert alert-success" id="ChangedPassword"  style="display:none">
                <div class="col-lg-12"><div class="glyphicon glyphicon-ok "> </div> @TempData["success"]</div>
            </div>
            <div class="alert alert-danger" id="FailedPassword"  style="display:none">
                    <div class="col-lg-12"><div class="glyphicon glyphicon-ban-circle"> </div> @TempData["failed"]</div>
            </div>
            <div class="alert alert-danger" id="LockoutPassword"  style="display:none">
                    <div class="col-lg-12"><div class="glyphicon glyphicon-ban-circle"> </div> @TempData["failed"]</div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ChangingPassword").hide();
        $("#ChangedPassword").hide();
        $("#FailedPassword").hide();

        if ('@TempData["success"]' != "") {
            $("#ChangedPassword").show();
        }
        if ('@TempData["failed"]' != "") {
            $("#FailedPassword").show();
        }
    });

    //function ChangingPasswordProcess() {
    //    if ($("#NewPassword").val() && $("#ConfirmPassword").val()) {
    //        $("#ChangingPassword").show();
    //        $("#ChangedPassword").hide();
    //        $("#FailedPassword").hide();
    //    }

    //};
</script>