@model CollaborativeLearning.WebUI.Models.WorkWithDueDate
@if (ViewBag.NoDueDate)
{
    <div class="alert alert-danger">
        <strong>Warning!</strong> The due date is not set yet.
    </div>
}

<script src="~/Content/Template/js/bootstrap-formhelpers.min.js"></script>
    <link href="~/Content/Template/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
@using (Ajax.BeginForm("_PartialWorkWithDueDateUpdate", "Work",
    new { scenarioId = ViewBag.scenarioId },
    new AjaxOptions
    {
        UpdateTargetId = "WorkContainer",
        LoadingElementId = "loadingDueDateUpdate"
    }, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.WorkID)
    @Html.HiddenFor(m => m.SemesterID)
    @Html.HiddenFor(m => m.ScenarioID)

    <div class="form-group">
        @Html.LabelFor(m => m.DueDate)
        <div class="controls bfh-datepicker" data-name="DueDate_Date" data-min="today" data-close="false" data-format="y-m-d" data-date="@Model.DueDate.ToString("yyyy-MM-dd")">
            
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Time")
        <div class="controls bfh-timepicker" data-name="DueDate_Time" data-time="@Model.DueDate.ToShortTimeString()" >
            
        </div>
    </div>
    <div class="modal-footer">
        @if (ViewBag.NoDueDate)
        {
            <button type="submit" class="btn btn-primary">Add Due Date</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Change Due Date</button>
        }
        <button type="button" class="btn btn-default" onclick="closeDueDate(@Model.Id)">Close</button> 
    </div>
}
<script>
    $(document).ready(function ()
    {
        $("#UpdateDueDateSuccess").hide();
        $("#UpdateDueDateFailure").hide();
        
    });
    function UpdateDueDateSuccess() {
        alert("success");
     }
    function UpdateDueDateFailure() {
        alert("fail");
    }
    function closeDueDate(id) {
        $("#updateDueDateForm_" + id).hide(100);
    }
</script>


<div id = "loadingDueDateUpdate">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingDueDateUpdate {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<script type="text/javascript">
    
</script>