@model CollaborativeLearning.Entities.Work

@using (Ajax.BeginForm("_PartialWorkUpdate", "Work",
    new { scenarioId = ViewBag.scenarioId }, 
    new AjaxOptions
    {
        UpdateTargetId = "WorkContainer",
        LoadingElementId = "loadingWorkUpdate"
    }, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        <div class="controls">
            @Html.TextBoxFor(m => m.Name, new
                                                {
                                                    @class = "form-control",
                                                    placeholder = "Enter Task Name"
                                                }) 
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
                        
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        <div class="controls">
            @Html.TextAreaFor(m => m.Description, new
                                                {
                                                    @class = "form-control",
                                                    @id = "workUpdateContent_" + Model.Id,
                                                    placeholder = "Enter Task Description"
                                                }) 
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update Work</button>
        <button type="button" class="btn btn-default" onclick="closeEditWork(@Model.Id)">Close</button> 
    </div>
}

<script type="text/javascript">
    $(function () {
        CKEDITOR.config.htmlEncodeOutput = true;
        CKEDITOR.config.autoParagraph = false;
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.replace("workUpdateContent_" + @Model.Id);
    });
</script>

<script>
    $(document).ready(function ()
    {
        $("#UpdateWorkSuccess").hide();
        $("#UpdateWorkFailure").hide();
        
    });
    function UpdateWorkSuccess() {
        alert("success");
     }
    function UpdateWorkFailure() {
        alert("fail");
    }
    function closeEditWork(id) {
        $("#updateWorkForm_" + id).hide(100);
    }
</script>


<div id = "loadingWorkUpdate">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingWorkUpdate {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>