@model CollaborativeLearning.Entities.Work
@using (Ajax.BeginForm("_PartialWorkCreate", "Work", 
    new { scenarioId = ViewBag.scenarioId },
    new AjaxOptions {
        LoadingElementId = "loadingWorkCreate", 
        HttpMethod = "POST", 
        OnSuccess = "searchAdmin", 
        UpdateTargetId = "WorkContainer" }, null
    ))
{
 @Html.AntiForgeryToken()
 @Html.ValidationSummary(true)

    <div class="panel panel-primary">
        <div class="panel-heading">
            
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name, new
                                           {
                                               @class = "form-control",
                                               id = "exampleInputEmail1",
                                               placeholder = "Enter Work Name"
                                           }) 
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                <div class="controls">
                    @Html.TextAreaFor(m => m.Description, new
                                                            {
                                                                @class = "form-control",
                                                                id="workContent",
                                                                placeholder = "Description"
                                                            }) 
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add Work</button>
    </div>
}
<script>
    function searchAdmin() {
        var URL = "Task/_PartialStudentTask";

        $.get(URL, function (data) {
            $("#myPartialViewDiv").html(data);
        })
    }
</script>

<script type="text/javascript">
    $(function () {
        $("#workContent").kendoEditor({
            encoded: false
        });
    });
</script>


<div id = "loadingWorkCreate">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingWorkCreate {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>