@model CollaborativeLearning.Entities.MeetingNote


    <div class="modal-header">
        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
        <h3 class="modal-title">Add Meeting Note</h3>
    </div>
    @using (Html.BeginForm("_AddNewMeeting", "GroupMeetings", 
    new { groupId = ViewBag.groupId },FormMethod.Post,
    new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            <section id="CreateMeetingNoteForm">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="grid">
                    <div class="col-lg-12">
						<div class="control-group">
							@Html.LabelFor(m => m.Name, new { @class = "control-label", style = "font-weight: bold;" })
							<div class="controls">
								@Html.TextBoxFor(m => m.Name,
										  new { @class = "form-control", @required = "required", style = "height:auto;" })
								@Html.ValidationMessageFor(m => m.Name)
							</div>
						</div>
                    </div>
                    <div class="col-lg-12">
						<div class="control-group">
							<label style="font-weight: bold;">Photo</label> 
							<div class="controls">
								<input type="file" id="filePicture" name="filePicture" accept="image/*" />
							</div>
						</div>
                    </div>
                    <br />
                    <div class="col-lg-12">
						<div class="control-group">
							@Html.LabelFor(m => m.Description, new { @class = "control-label", style = "font-weight: bold;" })
							<div class="controls">
								@Html.TextAreaFor(m => m.Description, 
								new { @class = "form-control", @id = "addNote", @required = "required", placeholder = "Enter Meeting Note" })
								@Html.ValidationMessageFor(m => m.Description)
							</div>
						</div>
                    </div>
                    <div class="col-lg-12">
						<div class="control-group">
							<label style="font-weight: bold;">Attachment</label>	
							<div class="controls">
								<input type="file" id="fileRar" name="fileRar" accept="application/zip" />
							</div>
						</div>
                    </div>
                    <br />
                </div>
            </section>
        </div>
	<div class="modal-footer" style="background-color: transparent;">
		<button type="submit" class="btn btn-primary">Add Note</button>
		<button type="button" onclick="cancelAddMeeting()" class="btn btn-danger">Cancel</button>
	</div>
	}

<script type="text/javascript">
    $(function () {
        CKEDITOR.config.htmlEncodeOutput = true;
        CKEDITOR.config.autoParagraph = false;
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.replace("addNote");
    });
</script>
