<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CET 314: Computer Networks & Commuication</title>
    <script src="~/Content/Template/js/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <link href="~/Content/Template/css/style.css" rel="stylesheet" />
    <link href="~/Content/Template/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Template/css/bootstrap-responsive.css" rel="stylesheet" />
    <script src="~/Content/Template/js/bootstrap.js"></script>



    <link href="~/Content/Datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Content/Datatable/js/jquery.dataTables.min.js"></script>
    
    <link href="~/Content/select2-3.4.5/select2.css" rel="stylesheet" />
    <link href="~/Content/select2-3.4.5/select2-bootstrap.css" rel="stylesheet" />
    <script src="~/Content/select2-3.4.5/select2.js"></script>
    
    <link href="~/Content/kendo/2013.2.918/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.2.918/kendo.default.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/kendo/2013.2.918/jquery.min.js"></script>*@
    <script src="~/Scripts/kendo/2013.2.918/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2013.2.918/kendo.grid.min.js"></script>
    
    <script src="~/Content/Template/js/bootstrap-formhelpers.min.js"></script>
    <link href="~/Content/Template/css/bootstrap-formhelpers.min.css" rel="stylesheet" />

    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <style>
        #semesterNav 
        {
            position:fixed;
            padding: 9px 0;
            top:60px;
            width:266px;
        }

        #semesterNavAdmin 
        {
            position:fixed;
            padding: 9px 0;
            top:390px;
            width:266px;
            margin-bottom: 25px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div style="float:initial">
                <h1 class="navbar-brand" style="padding:0px;">CET 314: Computer Networks & Commuication</h1>
            </div>
            <div class="btn-group" style="float:right; margin-top:10px">
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                @User.Identity.Name<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li><a class="glyphicon glyphicon-user" href="/User/Profile"> Profile</a></li>
                  <li><a class="glyphicon glyphicon-pencil" href="#"> Change Password</a></li>
                  <li class="divider"></li>
                  <li><a class="glyphicon glyphicon-log-out" href="Account/LogOff"> Logout</a></li>
              </ul>
            </div>
        </div><!-- /.container -->
    </nav>
    <div class="container" >

        <div class="row" style="min-height:480px;">

            <div class="col-md-3">

                <div id="semesterNav" class="list-group" style="">
                    Semester Operations
                    
                    <a id="groups" href="#Groups" class="list-group-item" data-toggle="tab">Groups</a>
                    <a id="scenarios" href="#Scenarios" class="list-group-item active" data-toggle="tab">Scenarios</a>
                    <a id="works" href="#Works" class="list-group-item" data-toggle="tab">Submitted Works</a>
                    <a id="feedbacks" href="#Feedbacks" class="list-group-item" data-toggle="tab">Feedbacks</a>
                    <a id="reflections" href="#Reflections" class="list-group-item" data-toggle="tab">Reflections</a>
                    <a id="mentors" href="#Mentors" class="list-group-item" data-toggle="tab">Mentors</a>
                    <a id="students" href="#Students" class="list-group-item" data-toggle="tab">Students</a>
                </div>
                <div id="semesterNavAdmin" class="list-group" style="">
                    Admininstrative Operations
                    <a href="@Url.Action("Index", "Semester", new {id=0})" class="list-group-item active">Semesters</a>
                    <a href="@Url.Action("Index", "Scenario", new {id=0})" class="list-group-item">Scenarios</a>
                    <a href="@Url.Action("Index", "Resource", new {id=0})" class="list-group-item">Resources</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <div class="caption-full">
                        @RenderSection("featured", required: false)
                        <ol class="breadcrumb">
                            @RenderSection("BreadCrump", false)
                        </ol>
                        <br />
                        <h2>
                            @RenderSection("Header", false)
                        </h2>
                        <section id="main">
                            @RenderBody()
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <hr>

            <footer style="margin: 30px 30px;">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <strong>
                                Copyright &copy;
                            </strong> 
                            Project Team : 
                            Yakup Adaklı, 
                            Ali Akkaya, 
                            Oğuzhan Kemal, 
                            Mustafa Ozan Şindi | 
                            Leader : Ekrem Kutbay | 
                            Advisor : Asist. Prof. Hamdi Erkunt
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
    <script>

        $("#groups").click(function () {
            $(".list-group a").each(function (index) {
                $(this).removeClass("active");
            });
            $("#groups").addClass("active");

            $("ul li").each(function (index) {
                $(this).removeClass("active");
            });
            $("#groups_tab").parent().addClass("active");
        });

        $("#scenarios").click(function () {
            $(".list-group a").each(function (index) {
                $(this).removeClass("active");
            });
            $("#scenarios").addClass("active");

            $("ul li").each(function (index) {
                $(this).removeClass("active");
            });
            $("#scenarios_tab").parent().addClass("active");
        });

        $("#works").click(function () {
            $(".list-group a").each(function (index) {
                $(this).removeClass("active");
            });
            $("#works").addClass("active");

            $("ul li").each(function (index) {
                $(this).removeClass("active");
            });
            $("#works_tab").parent().addClass("active");
        });

        $("#feedbacks").click(function () {
            $(".list-group a").each(function (index) {
                $(this).removeClass("active");
            });
            $("#feedbacks").addClass("active");

            $("ul li").each(function (index) {
                $(this).removeClass("active");
            });
            $("#feedbacks_tab").parent().addClass("active");
        });

        $("#reflections").click(function () {
            $(".list-group a").each(function (index) {
                $(this).removeClass("active");
            });
            $("#reflections").addClass("active");

            $("ul li").each(function (index) {
                $(this).removeClass("active");
            });
            $("#reflections_tab").parent().addClass("active");
        });

        $("#mentors").click(function () {
            $(".list-group a").each(function (index) {
                $(this).removeClass("active");
            });
            $("#mentors").addClass("active");

            $("ul li").each(function (index) {
                $(this).removeClass("active");
            });
            $("#mentors_tab").parent().addClass("active");
        });

        $("#students").click(function () {
            $(".list-group a").each(function (index) {
                $(this).removeClass("active");
            });
            $("#students").addClass("active");

            $("ul li").each(function (index) {
                $(this).removeClass("active");
            });
            $("#students_tab").parent().addClass("active");
        });
    </script>
</html>
