@*@model CollaborativeLearning.Entities.User*@
@model IEnumerable<CollaborativeLearning.Entities.User>

@{
    ViewBag.Title = "Mentor";
}
<br />

<div class="panel panel-default">
    <div class="panel-heading">Assign Students as Mentor</div>
    <div class="panel-body">
        @Html.Action("_PartialSelectUsers", "User")
    </div>
</div>
<div class="modal-footer"></div>

<div id="MentorEditPartialContainner">
    <div class="row" id="EditMentorPartialDiv">
        <div class="col-lg-12 clearfix" style="margin-left: 10px;">
            <div style="padding-bottom: 10px">
                @Html.Action("Edit", "Mentor", new { id = 0 })
            </div>
        </div>
    </div>
</div>

<div id="MentorSemesterAddPartialContainner">
    <div class="row" id="SemesterAddPartialContainner">
        <div class="col-lg-12 clearfix" style="margin-left: 10px;">
            <div style="padding-bottom: 10px">
                @Html.Action("_SemesterToMentor", "Mentor", new { id = 0 })
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default clearfix" id="ResourceAddContainner">
    <div class="panel-heading">Mentors List</div>
    <div class="panel-body">
        <table class="table table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <th class="col-sm-2">
                        <b>Mentor Name</b>
                    </th>
                    <th>
                        <b>User Name</b>
                    </th>
                    <th>
                        <b>E-Mail</b>
                    </th>
                    <th class="col-sm-2">
                        <b>Group Count</b>
                    </th>
                    <th class="col-sm-2">
                        <b>Actions</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>        
                        <td>
                            @Html.DisplayFor(modelItem => item.Groups.Count)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                  Actions
                                  <span class="caret"></span>

                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Ajax.ActionLink(" Edit", "_PartialEdit", "Mentor",
                                        new { id = item.Id },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "MentorEditPartialContainner",
                                            LoadingElementId = "loadingMentorOps"

                                        },
                                        new { @class = "openResourceEditPartial", @id="mentorEdit_"+item.Id  })
                                        <script>
                                            $("#mentorEdit_@item.Id").html("<span class='glyphicon glyphicon-pencil pull-left'></span> Edit")
                                        </script>
                                    </li>
                                    <li>
                                        @Ajax.ActionLink(" Add Semesters", "_SemesterToMentor", "Mentor",
                                        new { id = item.Id },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "MentorSemesterAddPartialContainner",
                                            LoadingElementId = "loadingAddSemesterOps"

                                        },
                                        new { @class = "openSemesterPartial", @id="mentorAddSemester_"+item.Id }) 
                                        <script>
                                            $("#mentorAddSemester_@item.Id").html("<span class='glyphicon glyphicon-plus pull-left'></span> Add Semesters")
                                        </script>
                                    </li>
                                    <li>
                                        @Ajax.ActionLink(" Make Student", "_MakeMentorStudent", "Mentor", new { id = item.Id },
                                new AjaxOptions
                                {
                                    HttpMethod= "POST",
                                    //Confirm = "Are you sure to make this mentor a student?",
                                    UpdateTargetId = "mentors",
                                    LoadingElementId = "loadingMentorOps"
                                },
                                new { @class = "", @id = "mentorMakeStudent_" + item.Id })

                                        <script>
                                            $("#mentorMakeStudent_@item.Id").html("<span class='glyphicon glyphicon-plus pull-left'></span> Make Student")
                                        </script>
                                    </li>

                                    <li>
                                        @Ajax.ActionLink(" Make Admin", "_MakeMentorAdmin", "Mentor", new { id = item.Id },
                                new AjaxOptions
                                {
                                    HttpMethod= "POST",
                                    //Confirm = "Are you sure to make this mentor a student?",
                                    UpdateTargetId = "mentors",
                                    LoadingElementId = "loadingMentorOps"
                                },
                                new { @class = "", @id = "mentorMakeAdmin_" + item.Id })

                                        <script>
                                            $("#mentorMakeAdmin_@item.Id").html("<span class='glyphicon glyphicon-plus pull-left'></span> Make Admin")
                                        </script>
                                    </li>

                                    <li>
                                        @Ajax.ActionLink(" Delete Mentor", "Delete", "Mentor", new { id = item.Id },
                                                new AjaxOptions
                                                {
                                                    Confirm = "Are you sure to delete this mentor?",
                                                    UpdateTargetId = "mentors",
                                                    LoadingElementId = "loadingMentorOps"
                                                },
                                        new { @class = "", @id="mentorDelete_"+item.Id }) 
                                        <script>
                                            $("#mentorDelete_@item.Id").html("<span class='glyphicon glyphicon-trash pull-left'></span> Delete")
                                        </script>
                                    </li>
                                </ul>
                              </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div id="loadingMentorOps">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<div id="loadingAddSemesterOps">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<style>
    div#loadingAddSemesterOps {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>


<style>
    div#loadingMentorOps {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<script>
    $(document).ready(function () {

        $("#MentorEditPartialContainner").hide();
        $("#MentorSemesterAddPartialContainner").hide();

    });
    $(".openResourceEditPartial").click(function () {
        console.log("openResourceEditPartial");
        $("#MentorSemesterAddPartialContainner").hide(100);
        $("#MentorEditPartialContainner").show(100);
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });
    $(".openSemesterPartial").click(function () {
        console.log("openSemesterPartial");
        $("#MentorSemesterAddPartialContainner").show(100);
        $("#MentorEditPartialContainner").hide(100);
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });




</script>





<div class="modal fade" id="editMentorPartialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Mentor</h4>
            </div>

            <div id="editMentorPartial" class="modal-body">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addSemesterPartialModal" tabindex="-1" role="dialog" aria-labelledby="addSemesterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addSemesterLabel">Add Semester To Mentor</h4>
            </div>

            <div id="addSemesterPartial" class="modal-body">
                asdasds
            </div>

        </div>
    </div>
</div>
