@*@model CollaborativeLearning.Entities.User*@
@model IEnumerable<CollaborativeLearning.Entities.User>

@{
    ViewBag.Title = "Mentor";
}
<br />
<div id="MentorEditPartialContainner">
   <div class="row" id="EditMentorPartialDiv" style="display:none;" >
                    <div class="col-lg-12 clearfix" style="margin-left:10px;">
                        <div style="padding-bottom:10px">
                            @Html.Action("Edit", "Mentor", new { id=0 })
                            <button type="button" class="btn-sm btn-danger" id="editRemove" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Close
                            </button>
                        </div>
                    </div>
    </div>
</div>

<div class="panel panel-warning clearfix" id="ResourceAddContainner">
    <div class="panel-heading">Mentors List</div>
    <div class="panel-body">
        <table class="table table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <td align="center" class="col-sm-1">
                        <b>Mentor Name</b>
                    </td>
                    <td align="center">
                        <b>User Name</b>
                    </td>
                    <td align="center">
                        <b>E-Mail</b>
                    </td>
                    <td align="center">
                        <b>Group Count</b>
                    </td>
                    <td align="center" class="col-sm-2">
                        <b>Actions</b>
                    </td>
                </tr>
            </thead>
            <tbody>
@foreach (var item in Model) {
    <tr>
        <td align="left">
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Email)
        </td>        
        <td align="center">
            @Html.DisplayFor(modelItem => item.Groups.Count)
        </td>
        <td align="center">
            @Ajax.ActionLink("Edit", "_PartialEdit", "Mentor", 
            new { id = item.Id }, 
            new AjaxOptions {
                InsertionMode=InsertionMode.Replace,
                UpdateTargetId = "MentorEditPartialContainner",
                LoadingElementId = "loadingMentorOps"
                
            }, 
            new {@class="btn btn-primary btn-xs glyphicon glyphicon-plus openResourceEditPartial"})
            
          |
            @Html.ActionLink("Semesters", "_SemesterToMentor", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
</tr>
    <tr>
        <td colspan="5"> 

        </td>
               


    </tr>
}
            </tbody>
        </table>

    </div>
</div>
<div id="loadingMentorOps">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<style>
    div#loadingMentorOps {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<script>
    $(document).ready(function () {
        console.log("Document");
        $("#MentorEditPartialContainner").hide(); 
    });
    $(".openResourceEditPartial").click(function () {
        $("#MentorEditPartialContainner").show(100);
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });
    
</script>





<div class="modal fade" id="editMentorPartialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Mentor</h4>
      </div>

      <div id="editMentorPartial"class="modal-body">
         
      </div>
     
    </div>
  </div>
</div>

<div class="modal fade" id="addSemesterPartialModal" tabindex="-1" role="dialog" aria-labelledby="addSemesterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addSemesterLabel">Add Semester To Mentor</h4>
      </div>

      <div id="addSemesterPartial"class="modal-body">
         asdasds
      </div>
     
    </div>
  </div>
</div>