@model ICollection<CollaborativeLearning.Entities.Semester>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="modal-title" id="myModalLabel">Add Semester to Mentor</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive">
            <tbody class="table-striped">
                @using (Ajax.BeginForm("_SemesterToMentor", "Mentor", new { id = ViewBag.ID }, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "MentorSemesterAddPartialContainner"
                        //OnSuccess = "SuccessUserAddGroup"
                    }, new { @id = "formSemesterMentor" }))
                {
                    <div class="input-group">
                            <select multiple="multiple" style="min-width:150px" 
                                id="SemesterMultiSelect-@ViewBag.ID" name="SemesterMultiSelect" class="form-control">

                                @if (ViewBag.AllSemesters != null)
                                {
                                    foreach (var semester in ViewBag.AllSemesters as List<CollaborativeLearning.Entities.Semester>)
                                    {
                                        <option value="@semester.Id">@semester.semesterName</option>
                                    }
                                }
                            </select>
                            <span class="input-group-addon" style="padding: 1px;">
                                <input type="submit" class="btn btn-primary btn-sm" value="Add" />
                                <button type="button" class="btn btn-default btn-sm" id="semesterCloseContainner">Close</button>
                            </span>
                
                        
                    </div>
                }
                <br /><br />
                <b>@ViewBag.MentorName</b><b>'s Current Courses</b>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr class="success">
                        <td>
                            @item.semesterName
                        </td>
                        <td>
                            @Ajax.ActionLink("Remove Semester", "DeleteSemesterFromMentor", "Mentor",
                            new { userId = ViewBag.ID, semesterId = item.Id },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                Confirm = "Are you sure to delete this semester?",
                                                UpdateTargetId = "MentorSemesterAddPartialContainner",
                                                LoadingElementId = "loading",
                                            },
                                           null)

                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" width="100%">
                            Could not found any course!
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    


   @* <div class="panel-body">
        @if (Model != null)
        {
            if (Model.Count != 0)
            {

                foreach (var item in Model)
                {
                    @item.semesterName
                    @Ajax.ActionLink("Remove Semester", "DeleteSemesterFromMentor", "Mentor",
                    new { userId = ViewBag.ID, semesterId = item.Id },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        Confirm = "Are you sure to delete this semester?",
                                        UpdateTargetId = "mentors",
                                        LoadingElementId = "loading",
                                    },
                                   null)

                }

            }
            else
            {
                <text>Could not found any semester!</text>
            }
        }
    </div>*@
</div>


<script>
    $(document).ready(function () {
        $("#SemesterMultiSelect-@ViewBag.ID").select2({
            placeholder: "Type Course",
            allowClear: true
        });
    });

    $("#semesterCloseContainner").click(function () {

        $("#MentorEditPartialContainner").hide(100);
        $("#MentorSemesterAddPartialContainner").hide(100);
    });

</script>