@model CollaborativeLearning.Entities.ActionPlan
@using (Ajax.BeginForm("_PartialActionPlanCreate", "ActionPlan",new { scenarioId = ViewBag.scenarioId },
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "studentActionPlanContainer",
            LoadingElementId = "loadingACCreate"
        }, 
        null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-primary">
        <div class="panel-heading">
            @Html.Label("Action Plan")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="controls">
                    @Html.TextAreaFor(m => m.Content, new
                                                       {
                                                           @class = "form-control",
                                                           @id = "actionPlanContent",
                                                           placeholder = "Content"
                                                       }) 
                    @Html.ValidationMessageFor(m => m.Content)
                </div>
            </div>
        
            <div class="form-group">
                
                <div class="controls">
                    @Html.LabelFor(m => m.isActive) : @Html.CheckBoxFor(m => m.isActive) 
                    @Html.ValidationMessageFor(m => m.isActive)
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Action Plan</button>
            </div>
        </div>
    </div>   
}

<script type="text/javascript">
    $(function () {
        CKEDITOR.config.htmlEncodeOutput = true;
        CKEDITOR.config.autoParagraph = false;
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.replace("actionPlanContent");
    });
</script>

<div id = "loadingACCreate">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingACCreate {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>