@model CollaborativeLearning.Entities.ActionPlan
@using (Ajax.BeginForm("_PartialActionPlanCreate", "ActionPlan", 
        new AjaxOptions { HttpMethod = "POST" }, 
        new { scenarioId = ViewBag.scenarioId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-primary">
        <div class="panel-heading">
            @Html.Label("Action Plan")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="controls">
                    @Html.TextAreaFor(m => m.Content, new
                                                       {
                                                           @class = "form-control",
                                                           @id = "actionPlanContent",
                                                           placeholder = "Content"
                                                       }) 
                    @Html.ValidationMessageFor(m => m.Content)
                </div>
            </div>
        
            <div class="form-group">
                
                <div class="controls">
                    @Html.LabelFor(m => m.isActive) : @Html.CheckBoxFor(m => m.isActive) 
                    @Html.ValidationMessageFor(m => m.isActive)
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Action Plan</button>
            </div>
        </div>
    </div>   
}
<script type="text/javascript">
   $(function(){
       $("#actionPlanContent").kendoEditor({
        encoded: true
      });
   });
</script>