@model CollaborativeLearning.Entities.ActionPlan

@using (Ajax.BeginForm("_PartialActionPlanUpdate", "ActionPlan", new AjaxOptions { HttpMethod = "POST" }))
{
               
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        <div class="controls">
            @*@EditorTask()
                                <br />*@
            @Html.TextAreaFor(m => m.Content, new
                                                {
                                                    @class = "form-control taskUpdateContent",

                                                    placeholder = "Enter Task Name"
                                                })

            @Html.ValidationMessageFor(m => m.Content)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.isActive)
        <div class="controls">
            @*@EditorTask()
                                <br />*@
            @Html.CheckBoxFor(m => m.isActive)

            @Html.ValidationMessageFor(m => m.isActive)
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update Action Plan</button>
        <button type="button" class="btn btn-default" onclick="closeEditAction(@Model.Id)">Close</button>

    </div>
}
<script>
    $(document).ready(function () {
        $("#UpdateActionPlanSuccess").hide();
        $("#UpdateActionPlanFailure").hide();

    });
    function UpdateActionPlanSuccess() {
        alert("success");
    }
    function UpdateActionPlanFailure() {
        alert("fail");
    }
    function closeEditAction(id) {
        $("#updateTaskForm_" + id).hide(100);
    }
</script>
