@model CollaborativeLearning.Entities.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container" style="margin-top: 2%;">
    <div class="row" style="margin-left:10%;margin-right:10%; width:80%">
        <div class="col-lg-12 panel panel-default clearfix">
            <br />
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <h5 class="text-info">Profile</h5>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-4 pull-left">
                            <b>Name:</b>
                        </div>
                        <div class="col-sm-8">
                            @Model.FullName
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 pull-right">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4 class="text-warning">Registered Course</h4>
                        
                    </div>
                    <div class="panel-body" id="UserCourseContainner">
                        <div id="UserAddCourseContainner">
                            @Html.Action("_PartialAddCourse", "User");
                        </div>
                        <div>
                            <table class="table table-hover" align="center">
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Semester Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Semesters.Where(s => s.isActive == true).ToList().Count > 0)
                                    {
                                        foreach (var item in Model.Semesters.Where(s => s.isActive == true))
                                        {
                                            <tr>
                                                <td>
                                                    @Html.ActionLink(item.CourseName + "." + item.Section, "Index", "Groups", new { userID = Model.Id, semesterID = item.Id }, new { })
                                                </td>
                                                <td>
                                                    <a href="#">
                                                        @Html.ActionLink(item.year + "-" + item.semester, "Index", "Groups", new { userID = Model.Id, semesterID = item.Id }, new { })
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Index", "Groups", new { userID = Model.Id, semesterID = item.Id})" class="btn-sm btn-primary"><i class="glyphicon glyphicon-align-right glyphicon-arrow-right"> Go</i> </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3">
                                                You don't have any course yet!
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingIndicator">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<style>
    div#loadingIndicator {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>
<style>
    table tr td a {
        display: block;
        height: 100%;
        width: 100%;
    }
</style>