@model CollaborativeLearning.WebUI.Models.AccountModels.ProfileModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Template/js/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<link href="~/Content/Template/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
<script src="~/Content/Template/js/bootstrap-formhelpers.min.js"></script>


 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <h1 class="navbar-brand" style="padding:0px;" >
            <a href="/">
                CET 314: Computer Networks & Commuication
            </a>        
        </h1>
    </div><!-- /.container -->
</nav>
<div class="container" style="margin-top: 2%">
        
    @using (Html.BeginForm("Profile", "User",
            FormMethod.Post, new { @class = "form-horizontal form-signin", @style = "max-width:600px;" }))
    {
            @Html.ValidationSummary(true, "There has been some errors. Please try again later.")
            <fieldset>
                <!-- Form Name -->
                <legend>Edit Form</legend>

                <!-- Text input-->
                <div class="control-group">
                    @Html.LabelFor(m => m.FirsName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(m => m.FirsName, new
                                                            {
                                                                @class = "input-large form-control",
                                                                @placeholder = "Enter First Name",
                                                                required = "required "
                                                            })
                        @Html.ValidationMessageFor(m => m.FirsName)
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(m => m.LastName, new
                                                           {
                                                               @class = "input-large form-control",
                                                               @placeholder = "Enter Last Name",
                                                               required = "required "
                                                           })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                  @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                  <div class="controls">
                     @Html.EditorFor(m => m.Email, new
                                                    {
                                                        @class = "input-large form-control",
                                                        @placeholder = "Enter Email",
                                                        required = "required ",
                                                        @type = "email"
                                                    })
                    @Html.ValidationMessageFor(m => m.Email)
                  </div>
                </div>

                    <!-- Text input-->
                    <div class="control-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                        <div class="controls">
                            @*<input type="text" class="form-control bfh-phone" data-format="+90 (ddd) ddd-dddd" />*@
                            @Html.EditorFor(m => m.PhoneNumber, new
                                                                   {
                                                                       @class = "input-large form-control bfh-phone",
                                                                       @placeholder = "Enter phone",
                                                                       required = "required ",
                                                                       data_format="+90 (ddd) ddd-dddd"
                                                                   })
          
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="registr_code">Gender</label>
                        <div class="radio">
                           @Html.RadioButtonFor(m => m.Gender, "Male", new
                                                                          {
                                                                              @class = "input-large",
                                                                              required = "required ",
                                                                              type = "radio"
                                                                          }) Male
                        </div>
                        <div class="radio">
                           @Html.RadioButtonFor(m => m.Gender, "Female", new
                                                                          {
                                                                              @class = "input-large",
                                                                              required = "required ",
                                                                              type = "radio"
                                                                          })Female

                        </div>
                    </div>

                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="register_btn"></label>
                    <div class="controls">
                        <button id="register_btn" name="register_btn" class="btn btn-success">Save</button>
                        @*@Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-danger" })*@
                        <a class = "btn btn-danger" href="/Home/Index">Cancel</a>
                        
                    </div>
                </div>

            </fieldset>
    }
    
</div> <!-- /container -->


